// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900)
=r300
	font-family: 'Roboto', sans-serif
	font-weight: 300
	
=r400
	font-family: 'Roboto', sans-serif
	font-weight: 400

=r700
	font-family: 'Roboto', sans-serif
	font-weight: 700

=r900
	font-family: 'Roboto', sans-serif
	font-weight: 900

// body 
body
	color: $c_body
	+r400
	font-size: 14px
	line-height: 1.3


//reset
a
	text-decoration: none

h1, h2, h3, h4, h5, h6, em, b, strong, i, th, td
	font-weight: normal

// extend
.in
	padding: 0 10px
	margin: 0 auto
	max-width: 960px
	+clr

%in
	@extend .in

// btn
.btn
	position: relative
	padding: 5px 20px
	color: $white
	+r400
	font-size: 12px
	line-height: 1.1
	text-align: center
	will-change: border-color
	transform: translate3d(0,0,0)
	transition: color .2s, box-shadow .2s, background .2s
	border: 1px solid $white
	border-radius: 25px
	background: transparent
	display: inline-block
	&:hover
		color: $blue
		box-shadow: 0px 2px 2px rgba($black, 0.3)
		background: $white
	&_blue
		color: $white
		border-color: $l_blue
		background: $l_blue
		&:hover
			color: $l_blue
			background: $white
			box-shadow: none
	&_red
		border-color: $bg_red_btn
		background: $bg_red_btn
		&:hover
			color: $bg_red_btn
			background: $white
			box-shadow: none
	&_orange
		border-color: $bg_orange
		background: $bg_orange
		&:hover
			color: $bg_orange
			background: $white
			box-shadow: none
	&_middle
		padding: 9px 20px
	&_big
		padding: 13px 38px
		font-size: 14px
		+r700
		text-transform: uppercase
		border-radius: 20px
	&_great
		padding: 15px 38px
		+r700
	&_rad-non
		border-radius: 0
	&_bord-op
		border-color: rgba($white, .5) 
	span.is-up
		font-size: 32px
		+r(960)
			font-size: 24px

button.btn
	line-height: 1

// title
.title
	+r700
	color: $l_blue
	font-size: 24px
	text-transform: uppercase
	text-shadow : 0px 1px 0px rgba($white, 1)
	text-align: center

// title-bord
.title-bord
	position: relative
	padding: 10px 15px 7px 0
	+r700
	font-size: 16px
	text-transform: uppercase
	&:before
		position: absolute
		content: ''
		top: 0
		left: -15px
		right: 0
		bottom: 0
		border: 1px solid $white
	span
		position: relative
		z-index: 1

// title-bord-double
.title-bord-double
	text-align: center
	color: $bord_title_bou
	font-size: 24px
	+r(768)
		font-size: 14px
		color: $white
		background: $bord_title_bou
	&.is-blue
		color: $l_blue
		+r(768)
			color: $white
			background: $l_blue
		span
			border-color: $l_blue
	span
		padding: 5px
		+r400
		vertical-align: top
		border-top: 1px solid $bord_title_bou
		border-bottom: 1px solid $bord_title_bou
		display: inline-block

// title-small
.title-small
	+r700
	text-transform: uppercase
	font-size: 12px

// title-little
.title-little
	+r400
	font-size: 16px
	text-align: center

// title-middle
.title-middle
	+r700
	font-size: 16px

.title-average
	font-size: 20px
	+r700

// title-big
.title-big
	font-size: 32px
	+r300

// title-dashed
.title-dashed
	padding: 29px 0
	+r400
	font-size: 24px
	text-align: center
	border-top: 1px dashed $bord_step
	border-bottom: 1px dashed $bord_step
	+r(768)
		padding: 25px
		font-size: 16px
		border-top-style: solid

.title-rocket
	position: relative
	text-transform: uppercase
	text-align: center
	color: $c_title_roc 
	+r700
	font-size: 24px
	&.is-orange
		color: $white 
		.title-rocket__text
			background: $bg_refill
			span
				color: $white 
	&:before
		position: absolute
		content: ""
		top: 50%
		height: 1px
		left: 0 
		right: 0
		margin-top: -1px
		border-bottom: 1px solid 
	&__text
		position: relative
		padding: 0 48px
		background: $white 
		display: inline-block
		span
			color: $c_about_blue
	.fa
		position: absolute
		left: 0
		top: 50%
		font-size: 22px
		margin-top: -11px
		color: inherit 
		+rotate(45)
		&.is-right
			left: auto
			right: 0
			+rotate(-135)


// header
.header
	position: relative
	height: 62px
	color: $white
	font-size: 12px
	z-index: 1
	box-shadow: inset 0 -1px 0 $shad_header
	border-bottom: 1px solid $bord_header
	background: $bg_blue
	&__in
		@extend %in
	&__right
		float: right
		margin-top: 15px
		+clr
		&.is-active
			visibility: visible
			opacity: 1
			z-index: 2
		+r(768)
			float: none
			position: absolute
			top: 62px
			left: 0
			right: 0
			margin: 0
			padding: 20px 15px 20px 10px
			z-index: 2
			visibility: hidden
			opacity: 0
			z-index: -1
			will-change: opacity
			transition: opacity .2s
			box-shadow: inset 0 -1px 0 $shad_header
			border-bottom: 1px solid $bord_header
			background: $bg_blue
	.timer
		+r(960)
			display: none

// btn-menu
.btn-menu
	float: right
	position: relative
	margin-top: 20px
	width: 20px
	height: 17px
	background: transparent
	display: none
	+r(768)
		display: block
	&:before,
	&:after,
	span
		position: absolute
		content: ''
		top: 0
		height: 3px
		left: 0
		width: 100%
		border-radius: 2px
		background: $white
	span
		top: 7px
	&:after
		top: auto
		bottom: 0

// logo
.logo
	position: relative
	float: left
	margin-top: 11px
	+r(480)
		font-size: 10px
	&:hover
		.hint
			opacity: 1
			visibility: visible
			z-index: 1
	a
		color: $white
		+clr
	.icon
		float: left
		margin-right: 5px
	&__text
		float: left
		margin-top: 6px
		width: 105px

// timer
.timer
	position: absolute
	left: 50%
	transform: translate(-50%,0)
	margin-left: 1%
	margin-top: 15px
	font-size: 22px
	&:hover
		.hint
			opacity: 1
			visibility: visible
			z-index: 1
	+r700
	+clr
	&__wrap,
	&__numb,
	&__thous,
	&__text
		float: left
	&__thous
		margin-left: 2px
		padding-top: 9px
		line-height: 1
	&__numb
		position: relative
		margin-left: 2px
		height: 29px
		line-height: 27px
		border: 1px solid $bord_timer
		box-shadow: inset 0 1px 0 $shad_number_out, 0 1px 0 $shad_number_out
		border-radius: 3px
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
			right: 0
			height: 1px
			z-index: 2
		&:before
			top: 11px
			background: rgba($shad_number, .7)
		&:after
			top: 12px
			background: rgba($white, .5)
		&:first-child
			margin-left: 0
		span
			position: relative
			padding: 0 6px
			z-index: 1
			display: block
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				right: 0
				bottom: 0
				opacity: .1
				background: radial-gradient(50% 50%, circle farthest-corner, rgba($white, 0) 0%, rgba($black, 1) 100%)
	&__text
		margin-left: 9px
		width: 95px
		font-size: 12px
		+r400
	.hint
		margin-top: 11px
		

// hint
.hint
	position: absolute
	top: 100%
	left: 50%
	transform: translate(-26%, -4px)
	font-size: 11px
	white-space: nowrap
	visibility: hidden
	z-index: -1
	opacity: 0
	transition: opacity .2s, visibility .2s
	span
		padding: 8px 9px
		color: $blue
		border-radius: 2px
		box-shadow: 2px 2px 2px rgba($black, .3)
		background: $white
		display: inline-block

// cont
.cont
	float: left
	font-size: 12px
	& + .lang
		margin-left: 20px
	.fa
		margin-right: 8px
		font-size: 32px
	&__right
		float: right
		margin-top: 2px
		a
			margin-top: 1px
			color: $white
			line-height: 1.2
			transition: border-color .2s
			border-bottom: 1px solid transparent
			display: block
			&:hover
				border-color: $white
			&:first-child
				margin-top: 0

// lang
.lang
	float: right
	+clr
	&__item
		float: left
		margin-left: 5px
		&:first-child
			margin-left: 0
		&.is-active
			a
				color: $blue
				&:before
					transform: scale(1)
					opacity: 1
	a
		position: relative
		height: 32px
		width: 32px
		color: $white
		line-height: 30px
		text-align: center
		text-transform: uppercase
		border-radius: 50%
		transition: color .3s, box-shadow .3s
		border: 1px solid $white
		display: block
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			&:before
				transform: scale(1)
				opacity: 1
		&:before
			position: absolute
			content: ''
			top: -1px
			left: -1px
			right: -1px
			bottom: -1px
			background: $white
			transition: transform .3s, opacity .3s
			transform: translate3d(0,0,0)
			transform: scale(0)
			will-change: opacity
			opacity: 0
			border-radius: 50%
		span
			position: relative
			z-index: 1

// slider
.slider
	box-shadow: inset 0 -1px 0 $bg_blue
	border-bottom: 1px solid $bord_header
	background: url(../img/cloud.png) no-repeat 65% 10px, $bg_blue
	&__in
		height: 139px
		@extend %in
		+r(768)
			height: auto
	&__slide
		width: 100%
	.slick-dots
		right: 125px
		bottom: 16px
		+r(1024)
			right: 155px

.slick-slider
	visibility: hidden
	opacity: 0
	&.is-init
		visibility: visible
		opacity: 1
	.slick-dots
		text-align: right
		font-size: 0
		line-height: 1
		li
			margin-left: 7px
			padding: 0
			&:first-child
				margin-left: 0
			&.slick-active
				button
					opacity: 1
					&:before
						transform: scale(1)
						opacity: 1
		button
			position: relative
			height: 13px
			width: 13px
			border: 1px solid $white
			background: none
			&:before
				position: absolute
				content: ''
				top: 2px
				left: 2px
				height: 7px
				width: 7px
				border-radius: 50%
				background: $white
				will-change: opacity
				transition: background .3s, transform .3s, opacity .3s
				transform: scale(0)
				opacity: 0
	.slick-arrow
		width: 40px
		height: 40px
		z-index: 1
		font-size: 0
		border-radius: 50%
		box-shadow : 0px 2px 5px rgba(0, 0, 0, 0.3)
		transition: box-shadow .2s
		background: $white
		&:hover
			box-shadow : 0px 1px 4px rgba(0, 0, 0, 0.3)
		&:before
			color: $l_blue
			font: normal normal normal 14px/1 FontAwesome
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			font-size: 24px
			line-height: 40px
	.slick-prev
		left: -20px
		&:before
			margin: 1px 3px 0 0
			content: "\f053"
	.slick-next
		right: -20px
		&:before
			margin: 1px 0 0 4px
			content: "\f054"

// stock
.stock
	padding: 10px 0 10px 55px
	text-align: center
	color: $white
	+r900
	+r(960)
		padding-left: 0
	// &__top
	&__text
		margin-top: 45px
		text-transform: uppercase
		font-size: 13px
		text-shadow: 0px 0.82px 1.64px rgba($black, .2)
		vertical-align: top
		display: inline-block
		+r(960)
			font-size: 11px
		+r(768)
			font-size: 14px
		+r(768)
			margin-top: 10px
			display: block
			&:first-child
				margin-top: 0
		span
			&.is-up
				font-size: 22px
				+r(960)
					font-size: 12px
				+r(768)
					font-size: 18px
			& + span
				margin-left: 8px
	&__disc
		position: relative
		margin-left: 5px
		vertical-align: top
		display: inline-block
	&__plus
		position: absolute
		top: 100%
		left: 50%
		transform: translate(-68%, -9px)
	&__more
		text-align: right
		margin-top: -10px
		+r(768)
			margin-top: 10px

// steps
.steps
	padding: 20px 0
	overflow: hidden
	background: url(../img/bg-steps.png) repeat
	+r(1024)
		padding: 20px 30px 20px 10px
	&.is-valid
		+r(768)
			padding: 20px 30px
		.steps__in
			&:before
				height: 242px
				+r(768)
					display: none
		.step__title
			color: $l_green
		.step 
			background: transparent
			+r(768)
				display: none
				&:first-child
					display: block
					.step__numb:before
						display: none
			&:before,
			&:after
				display: none
			.step__top
				border-bottom-color: transparent
				+r(768)
					&:before
						display: none
		.check
			display: none
	&__in
		position: relative
		@extend %in
		padding-left: 50px
		+r(1024)
			padding-left: 50px
		&:before
			position: absolute
			content: ''
			top: 0
			left: 20px
			bottom: 6px
			z-index: 1
			width: 1px
			background: $bord_step

// step
.step
	position: relative
	&:before,
	&:after
		position: absolute
		content: ''
		top: -19px
		bottom: 0
		width: 1000%
		background: $white
		display: none
	&:before
		right: 50%
	&:after
		left: 50%
	&.is-active
		.step__all
			display: inline
		.step__block
			z-index: 1
			display: block
	&.is-valid
		background: $white
		&:before,
		&:after
			display: block
		&:first-child
			.step__title
				color: $l_green
				+r700
				text-transform: uppercase
		.step__top
			border-bottom: 1px solid $bord_step
			&:before
				position: absolute
				content: ''
				left: -40px
				width: 20px
				bottom: -1px
				border-bottom: 1px solid $bord_step
				display: none
				+r(768)
					display: block
		.step__numb
			color: $white
			font-size: 0
			border-color: $l_green
			background: $l_green
			&:before
				background: $l_green
			&.is-receipt
				margin-left: -1px
				border: none
				overflow: hidden
				&:before
					width: 50%
					top: 2px
					left: -2px
					+arr(24,50,$l_green_2,l)
					transform: rotate(-45deg)
					background: transparent
				.fa
					margin-bottom: 7px
					font-size: 20px
					text-shadow: 0 0 2px rgba($black, .8)
			.fa
				position: relative
				font-size: 16px
				z-index: 2
				display: inline-block
		& + .is-active
			background: $white
			&:before,
			&:after
				display: block
	&:nth-child(2)
		&.is-valid
			.step__numb
				&:before
					+r(768)
						height: 150%
					+r(480)
						height: 220%
	& + .step
		margin-top: 5px
	&__top
		position: relative
		padding: 12px 0
		z-index: 1
		+clr
		+r(768)
			margin: 0 -40px 0 -20px
			padding: 12px 40px 12px 20px
		.check
			margin-left: 15px
			+r(768)
				position: absolute
				top: 12px 
				right: 10px
				margin-left: 0
		.edit	
			+r(768)
				font-size: 0
				position: absolute
				top: 12px 
				right: 10px
				.fa
					margin-right: 0
	&__title
		width: calc(100% - 208px)
		color: $l_gray
		vertical-align: top 
		display: inline-block
		+r(768)
			width: 100%
		& > .fa,
		& > .icon
			margin: 2px 8px 0
			font-size: 14px
			color: $l_green
			vertical-align: top
		& > .icon
			margin-top: -1px
	&__stock,
	&__right
		float: right
		color: $l_gray
		font-size: 12px
		span
			margin-top: 3px
			display: inline-block
		.icon
			margin: -5px 0 -6px 10px
			vertical-align: top
	&__stock
		+r(768)
			display: none
	&__numb
		position: absolute
		top: 0
		left: -50px
		width: 40px
		height: 40px
		color: $c_step_numb
		font-size: 18px
		line-height: 38px
		text-align: center
		z-index: 3
		border-radius: 50%
		border: 1px solid $bord_step
		background: $white
		+r(768)
			left: -30px
		&:before
			position: absolute
			content: ''
			top: 100%
			left: 50%
			margin-left: -1px
			width: 2px
			height: 100%
			background: transparent
		&.is-receipt
			top: 7px
			left: -47px
			width: 35px
			height: 35px
			border-radius: 4px
			transform: rotate(45deg)
			+r(768)
				left: -27px
			.fa
				transform: rotate(-45deg)
				margin-bottom: 8px
				display: inline-block
		.fa
			vertical-align: middle
			display: none
	&__all
		font-size: 12px
		letter-spacing: -.4px
		display: none
	&__block
		position: relative
		padding: 10px 0 5px
		display: none
		+r(768)
			margin: 2px -40px 0 -60px
			padding: 15px 18px 60px
			border-top: 1px solid $bord_step
			border-bottom: 1px solid $bord_step
			z-index: 3
			background: $white

// receipt
.receipt
	margin-left: -50px
	background: url(../img/svg/receipt-bg.svg) no-repeat 50% 138px
	+r(768)
		text-align: center
		background: none
	+r(335)
		text-align: left
	&__wrap
		position: relative
		padding: 15px 0 20px
		margin: 30px 0 -20px
		color: $l_blue
		background: $white
		+clr
		&:before
			position: absolute
			content: ''
			top: 0
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			width: 1000%
			background: $white
		& > div
			position: relative
			z-index: 1
		p
			margin-bottom: 5px
		& > .btn
			+r(335)
				position: relative
				left: 50%
				transform: translateX(-50%)
		.rating__list,
		.rating__people
			vertical-align: top
			display: inline-block
	&__row
		margin-top: 18px
		+clr
		+r(768)
			margin-top: 15px
		&:first-child
			margin-top: 0
	&__left
		float: left
		width: 374px
		+r(768)
			float: none
			margin-top: 15px
			width: 100%
	&__soc
		img
			max-width: 100%

// ticket
.ticket
	position: relative
	margin: -170px auto 0
	left: -2px
	width: 278px
	background: $white
	border-radius: 4px
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
	+r(768)
		margin-top: 10px
	&__top
		padding: 15px 0 10px
		text-align: center
		color: $l_green
		p
			margin-top: 12px
	&__ico
		font-size: 0
		.icon
			vertical-align: top
	&__wrap
		padding: 8px 12px
		border-top: 1px solid $bord_serv
		border-bottom: 1px solid $bord_serv
	&__row
		padding: 2px 0
		border-top: 1px solid $bord_serv
		+clr
		&:first-child
			border-top: none
	&__foot
		padding: 13px 15px 18px
		+clr
		.fa
			margin-right: 10px
			font-size: 20px
			vertical-align: middle
	&__col
		float: left
		padding-left: 5px
		width: 50%
		&:first-child
			padding-left: 0
	a
		color: $l_blue

// edit
.edit
	color: $l_blue
	&:hover
		span
			border-color: $l_blue
	.fa,
	.icon
		margin-right: 7px
		font-size: 18px
	span
		line-height: 1.3
		transition: border-color .2s
		border-bottom: 1px solid transparent
		display: inline-block


// card-numb card-price
.card-numb,
.card-price	
	font-size: 18px
	line-height: 1
	display: inline-block

.card-commission
	margin-left: 2px
	font-size: 12px
	display: inline-block

// check
.check
	color: $l_blue
	vertical-align: top
	display: inline-block
	+r(768)
		font-size: 0
	&:hover
		span
			border-color: $l_blue
	span
		transition: border-color .2s
		line-height: 1.3
		border-bottom: 1px solid transparent
		display: inline-block
	.icon,
	.fa
		margin-right: 8px
		font-size: 18px
		vertical-align: middle
		+r(768)
			margin-right: 0

// services
.services
	+clr
	&__col
		float: left
		margin-left: 10px
		width: 360px
		&:first-child
			margin-left: 0
	.slick-arrow
		+r(480)
			top: 112px
	.service
		+r(1024)
			margin: 4px
		& + .service
			+r(1024)
				margin: 4px

// service
.service
	max-width: 360px
	border-radius: 4px
	box-shadow: 0px 2px 2px rgba($black, 0.3)
	background: $white
	vertical-align: top
	display: inline-table
	+clr
	+r(1024)
		max-width: 100%
		width: 100%
	& + .service
		margin-top: 10px
	&.is-card
		margin-right: 10px
		.service__top
			background: linear-gradient(28.44deg, $serv_green 0%, $l_serv_green 100%)
		.service__ico
			&:before
				+svg(shad-step-card,129,127)
	&.is-phone
		margin-top: 0
		.service__top
			background: linear-gradient(28.44deg, $l_serv_green 0%, $l_serv_red 100%)
		.service__ico
			&:before
				top: 3px
				left: 7px
				+svg(shad-step-phone,117,141)
	&.is-phone-big
		.service__top
			background: linear-gradient(28.44deg, $l_serv_green 0%, $l_serv_red 100%)
		.service__ico
			&:before
				top: 5px
				left: 6px
				+svg(shad-phone-big,145,170)
	&.is-get
		.service__top
			background: linear-gradient(28.44deg, $serv_blue 0%, $l_serv_blue 100%)
		.service__ico
			&:before
				top: 6px
				+svg(shad-step-get,128,126)
	&__col
		width: 180px
		border-left: 1px solid $bord_serv
		vertical-align: top
		display: table-cell
		+r(1024)
			width: 50%
		+r(480)
			width: 100%
			display: block
			& + .service__col
				border-top: 1px solid $bord_line
		&:first-child
			text-align: center
		.link
			margin-top: 18px
		p
			letter-spacing: -.35px
	&__wrap
		padding: 15px 12px
	&__top
		padding: 15px 12px
		.btn
			margin-top: 15px
	&__img
		margin: 19px 0 9px
		min-height: 130px
		line-height: 130px
		+r(1024)
			min-height: initial
			line-height: inherit
	&__ico
		position: relative
		vertical-align: middle
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 5px
			left: 5px
		img
			position: relative
			z-index: 1
			display: block
	&__bot
		padding: 14px
		border-top: 1px solid $bord_serv
		+r(480)
			display: none
	.alert
		margin-top: 4px

// rating
.rating
	&__list
		font-size: 0
		line-height: 1
	&__item
		position: relative
		margin-left: 8px
		font-size: 20px
		color: $c_rat
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
		&:hover,
		&.is-active
			color: $orange
		&.is-half
			&:before
				position: absolute
				content: "\f005"
				top: 0
				left: 0
				width: 50%
				overflow: hidden
				color: $orange
				display: inline-block
				font: normal normal normal 14px/1 FontAwesome
				font-size: inherit
				cursor: pointer
				text-rendering: auto
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
		a
			color: inherit
			transition: color .2s
	&__quantity
		margin-top: 5px
		color: $c_step_numb
	&__people
		margin-left: 15px
		color: $c_text
		line-height: 20px
		span
			&.is-red
				color: $orange

// link
.link
	color: $l_blue
	transition: border-color .2s
	line-height: 1.3
	border-bottom: 1px solid transparent
	display: inline-block
	&:hover
		border-color: $l_blue

// altert arr
=altarr($color)
	background: $color
	&:before
		+arr(4,8,$color,tr)
	&:after
		+arr(4,8,$color,br)
	span:before
		+arr(4,8,$color,tl)
	span:after
		+arr(4,8,$color,bl)

// alert
.alert
	position: relative
	padding: 0 14px
	color: $white
	line-height: 1.2
	text-transform: uppercase
	vertical-align: top
	display: inline-block
	+altarr($red)
	&:before,
	&:after,
	span:before,
	span:after
		position: absolute
		content: ''
	&:before
		top: 0
		left: -4px
	&:after
		bottom: 0
		left: -4px
	span:before
		top: 0
		right: -4px
	span:after
		right: -4px
		bottom: 0
	&.is-orange
		+altarr($orange)

// assay
.assay
	padding: 20px 0 40px
	text-align: center
	+r(768)
		padding: 0
	&.is-load
		height: 280px
		text-transform: uppercase
		color: $l_blue
		+vertical
		+r(768)
			margin-bottom: -40px
			height: 104px
	&__in
		margin: -76px 0 0 -130px
		vertical-align: middle
		display: inline-block
		+r(768)
			margin: 0
	&__text
		margin-top: 20px
		font-size: 16px
	.loader
		margin-right: 25px
		vertical-align: middle
	span
		font-size: 14px
		vertical-align: middle
		display: inline-block

// loader
.loader
	width: 43px
	height: 43px
	text-align: center
	display: inline-block
	&__torus
		width: 43px
		height: 43px
		margin: 0 auto
		border: 4px solid
		border-radius: 50%
		border-color: transparent rgba($l_blue, 0.9) rgba($l_blue, 0.9)
		animation: loader 690ms infinite linear

@keyframes loader
	100%
		transform: rotate(360deg)

// counter
.counter
	&.is-blue	
		.counter__numb
			background: $bord_timer
	&.is-big
		.counter__numb
			padding: 0 6px
			span
				font-size: 22px
	&__wrap
		font-size: 0
	&__numb,
	&__thous
		vertical-align: top
		display: inline-block
	&__numb
		position: relative
		margin-left: 2px
		padding: 0 4px
		+r700
		font-size: 18px
		color: $white
		border-radius: 4px
		box-shadow: 0px 1px 0px rgba($black, 0.3)
		background: $bg_count
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
			right: 0
			height: 1px
		&:before
			top: 11px
			background : rgba(0, 0, 0, 1)
			opacity : 0.3
		&:after
			top: 12px
			background: rgba($white, 1)
			opacity: 0.3
		&:first-child
			margin-left: 0
	&__thous
		margin-left: 2px
		padding-top: 7px
		font-size: 18px
		line-height: 1
		+r700
		color: $bg_count
		text-shadow: 0px 1px 0px rgba($white, 0.3)
	&__inf
		margin-top: 3px
		color: $c_text

// slid
.slid
	margin-top: 38px
	border-radius: 6px
	box-shadow: 0px 2px 6px rgba($black, 0.3)
	background: $white
	+r(960)
		margin-top: 16px
	&__slide 
		width: 100%
		border-radius: 6px
		overflow: hidden
		display: inline-table
		+clr
	&__left,
	&__right
		vertical-align: top
		display: table-cell
		+r(480)
			display: block
	&__left
		width: 214px
		+r(960)
			width: 50%
		+r(480)
			width: 100%
	&__right
		padding: 24px 10px 20px 30px
		+r(480)
			padding: 24px 10px 20px
	.service
		float: none
		box-shadow: none
		border-right: 1px solid $bord_serv
		display: block
		&__top
			padding: 20px 12px
		&__col
			width: 100%
			border-left: none
			display: block
		&__title
			font-size: 16px
		&__img
			margin: 8px 0 40px
		+r(480)
			border-right: none
	.advance
		margin-top: 20px
	.slick-arrow
		top: 130px

// advance
.advance
	+r(960)
		display: none
	&__wrap
		+clr
	&__title
		+r700
		font-size: 12px
	&__item
		position: relative
		float: left
		margin-left: 34px
		width: 133px
		+r(1024)
			margin-left: 30px
		&:before
			position: absolute
			content: ''
			left: -26px
			bottom: 27px
			+svg(arr-adv,19,21)
		&:first-child
			margin-left: 0
			&:before
				display: none
		&.is-mod
			img
				right: auto
				left: -6px
	&__img
		position: relative
		margin-top: 5px
		width: 133px
		height: 137px
		img
			position: absolute
			top: 0
			right: 0
			max-width: initial

// hist
.hist
	margin-top: 22px
	&__item
		margin-left: 30px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	&__img
		margin-right: 10px 
		img
			display: block
	&__text,
	&__img
		vertical-align: middle
		display: inline-block


// attend
.attend
	margin-top: 48px
	+clr
	+r(960)
		display: none
	&__left
		float: left
		+clr
	&__right
		position: relative
		float: left
		margin-left: 18px
		padding-left: 18px
		+clr
		&:before
			position: absolute
			content: ''
			left: 0
			top: -10px
			bottom: 10px
			border-left: 1px solid $bord_step
	&__item
		float: left
		margin-left: 9px
		width: 76px
		transform: translate3d(0,0,0)
		transition: transform .2s
		&:first-child
			margin: 0
		&.is-active
			border-radius: 4px
			border: 1px solid $bord_step
			.attend__img
				border-bottom-right-radius: 0
				border-bottom-left-radius: 0
				border: none
				background: $white
			.attend__bot
				padding: 5px
			.alert
				position: static
				&:before,
				&:after
					position: absolute
					content: ''
					top: 0
					left: 0
					width: 100%
					height: 100%
					border: none
					background: inherit
				span
					position: relative
					z-index: 1
				.attend__img
					box-shadow: none
		.alert
			transition: transform .2s
			span
				transform: translate3d(0,0,0)
	a.attend__item
		&:hover
			transform: translate(0,-20px)
			.alert
				transform: translate(0,-5px)
				span
					transform: translate3d(0,0,0)
			.attend__img
				box-shadow: 0px 1px 2px rgba($shad_attend, 1)
				background: $white
	&__img
		position: relative
		height: 76px
		transition: box-shadow .2s, background .2s
		border-radius: 4px
		overflow: hidden
		border: 1px solid $bord_step
		background: transparent
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
	&__bot
		position: relative
		padding: 12px 0 5px
		text-align: center

// inform
.inform
	padding: 38px 0
	background: url(../img/bg-inform.png) repeat 0 0
	+r(960)
		padding: 24px 0
	&__in
		@extend %in
		+r(1024)
			padding: 0 30px

// question
.question
	padding: 64px 0
	color: $white
	box-shadow: inset 0 -1px 0 $white
	border-bottom: 1px solid $l_gray
	background: url(../img/question_bg.png) no-repeat 50% 100%
	background-size: cover
	+r(960)
		padding: 37px 0
	&__in
		@extend %in
		+r(1024)
			padding: 0 30px
		+r(768)
			padding: 0 5px
	// &__slider
	&__slide
		width: 100%
		+clr
	&__left
		float: left
		padding: 0 20px
		width: 44.15%
		+r(768)
			float: none
			width: 100%
			text-align: center
		img
			+r(768)
				margin: 0 auto
	&__right
		float: right
		width: 55.85%
		+r(768)
			float: none
			padding: 0 30px
			width: 100%
	&__bot
		margin-top: 30px
		+r(768)
			display: none
		.slick-dots
			position: relative
			margin-left: 20px
			line-height: 25px
			vertical-align: top
			display: inline-block !important
			li
				outline: none
	&__wrap
		padding-right: 75px
		+r(768)
			padding-right: 0
	p + p
		margin-top: 20px
	.title
		float: right
		margin-bottom: 30px
		width: calc(100% - 44.15%)
		color: $white
		text-align: left
		text-shadow: none
		+r(768)
			padding: 0 30px
			width: 100%
			text-align: center
		+r(480)
			margin-bottom: 0
			text-align: left
	.title-bord
		margin-bottom: 10px
		+r(480)
			margin: 0 -12px 10px
	.slick-arrow
		+r(768)
			display: none !important

// partner
.partner
	padding: 60px 0 70px
	box-shadow: inset 0 -1px 0 $white
	border-bottom: 1px solid $bord_par
	background: url(../img/bg-part.png) no-repeat 50% 0
	background-size: cover
	+r(960)
		padding: 30px 0
	&__in
		@extend %in
	&__wrap
		margin: 140px 0 38px
		text-align: center
		font-size: 0
		+clr
		+r(960)
			margin-top: 80px
		+r(768)
			margin: 40px auto 22px
			width: 300px
	&__item
		position: relative
		margin-left: 35px
		color: $c_body
		font-size: 16px
		+r400
		text-align: center
		vertical-align: top
		display: inline-block
		+r(960)
			margin-left: 27px
		&:hover,
		&.is-active
			.partner__name
				transform: scale(1)
				opacity: 1
			.partner__logo
				transform: translateY(-40px) rotate(-45deg)
				box-shadow: -1px 1px 2px rgba($black, 0.3)
		&.is-active
			+r(768)
				margin: 70px 0 -5px
				display: block
				& + .partner__item
					margin-left: 0
			.partner__logo
				+r(768)
					display: inline-block
			.partner__name
				+r(768)
					position: relative
					margin: -16px 35px 0 0
					bottom: auto
					right: auto
					left: auto
					max-width: 70px
					vertical-align: top
					display: inline-block
		&:first-child
			margin-left: 0
		&.is-green
			.partner__logo
				background: $green
		&.is-blue
			.partner__logo
				background: $d_blue
	&__logo
		position: relative
		width: 86px
		height: 86px
		line-height: 86px
		text-align: center
		border-radius: 16px
		transform: translate3d(0,0,0)
		transform: rotate(-45deg)
		transition: transform .2s, box-shadow .2s
		background: $l_red
		+r(960)
			width: 78px
			height: 78px
			line-height: 78px
		img
			transform: rotate(45deg)
			vertical-align: middle
			display: inline-block
	&__name
		position: absolute
		bottom: -2px
		left: -4px
		right: -4px
		opacity: 0
		will-change: opacity
		transform: translate3d(0,0,0)
		transition: transform .2s, opacity .2s
		transform: scale(0)
		+r(960)
			right: -8px
			left: -8px
	&__inf
		text-align: center
		font-size: 16px
		li
			position: relative
			margin-left: 8px
			padding-left: 9px
			display: inline-block
			+r(480)
				margin-top: 2px
				display: block
				&:before
					display: none
				&:first-child
					margin-top: 0
			&:first-child
				margin-left: 0
				padding-left: 0
				&:before
					display: none
			&:before
				position: absolute
				top: 0
				left: -1px
				content: '|'

// reply
.reply
	padding: 50px 0 60px
	border-bottom: 1px solid $bord_par
	+r(960)
		padding: 40px 0 25px
	&__in
		@extend %in
	.title
		margin-bottom: 40px
		+r(960)
			margin-bottom: 7px

// accord
.accord
	border-bottom: 1px solid $bord_par
	&.is-active
		.accord__top
			+r700
			text-transform: uppercase
			&:before
				transform: rotate(180deg)
	&__top
		position: relative
		padding: 8px 20px 8px 10px
		font-size: 16px
		cursor: pointer
		user-select: none
		will-change: text-transform, font-weight
		transform: translate3d(0,0,0)
		transition: font-weight .2s, text-transform .2s
		+r(335)
			padding-right: 50px
		&:before
			position: absolute
			content: ''
			right: 10px
			top: 14px
			transition: transform .3s
			+arr(11,6,$l_gray,b)
	&__block
		padding: 0 45px 14px 10px
		display: none
		+r(960)
			padding-right: 10px
	p 
		& + p,
		& + .video
			margin-top: 20px

// video
.video
	position: relative
	color: $c_text
	height: 201px
	max-width: 301px
	border: 1px solid $bord_video
	+r(335)
		margin-left: -20px
		margin-right: -20px
		max-width: initial
		border-left: none
		border-right: none
	&__title
		position: absolute
		top: 15px
		left: 15px
		right: 15px
		z-index: 1
	&__preload
		position: absolute
		top: 50%
		left: 0
		right: 0
		text-align: center
		margin-top: -33px
		.circ
			margin-bottom: 5px
	img
		display: block

// circ
.circ
	position: relative
	width: 45px
	height: 45px
	display: inline-block
	&__item
		position: absolute
		background-color: $c_text
		width: 11px
		height: 11px
		border-radius: 9px
		animation: bounce 1.12s infinite normal

		$animation-delay: 0s

		@for $i from 1 through 8
			&:nth-child(#{$i})
				animation-delay: $animation-delay
				$animation-delay: $animation-delay + .14s
		&_1
			left: 0
			top: 18px
		&_2
			left: 4px
			top: 4px
		&_3
			top: 0
			left: 18px
		&_4
			right: 4px
			top: 4px
		&_5
			right: 0
			top: 18px
		&_6
			right: 4px
			bottom: 4px
		&_7
			left: 18px
			bottom: 0
		&_8
			left: 4px
			bottom: 4px

@keyframes bounce
	0%
		transform: scale(1)

	100%
		transform: scale(0.3)

// more
.more
	position: relative
	margin: 8px 0
	padding: 0 24px 0 10px
	font-size: 12px
	color: $c_body
	display: inline-block
	&:before
		position: absolute
		content: ''
		right: 0
		top: 4px
		transition: transform .3s
		+arr(11,6,$l_gray,b)

// rates
.rates
	padding: 52px 0 52px
	+r(960)
		padding: 36px 0 0
	&__in
		@extend %in
	.title
		padding-bottom: 40px
		+r(960)
			padding-bottom: 20px
	p
		& + p,
		& + .list,
		& + .title-middle
			margin-top: 18px
	.title-middle
		& + .list
			margin-top: 5px
	.list
		& + p
			margin-top: 18px
	strong
		+r700

// list
.list
	li
		position: relative
		text-indent: 37px
		+r(768)
			text-indent: 0
		&:before
			position: absolute
			content: ''
			top: 8px
			left: 30px
			height: 4px
			width: 4px
			border-radius: 50%
			background: $c_body
			+r(768)
				display: none

// input
.input
	padding: 0 10px
	width: 100%
	height: 34px
	+r400
	font-size: 14px
	transition: border-color .2s
	border: 1px solid $bord_card
	border-radius: 3px
	background: $white
	display: inline-block
	&::placeholder
		color: $l_gray
	&:focus
		border-color: $l_blue
		&::placeholder
			font-size: 0
	&.is-date
		width: 64px
	&.is-cvv
		width: 76px
	&.is-price
		width: 111px
	&.is-phone
		width: 142px

// cards
.cards
	padding-bottom: 10px
	color: $c_step_numb
	text-align: center
	&.is-phone
		.card
			+r(900)
				float: none
				margin: 10px auto
				display: block
			&:first-child
				margin-top: 30px
			& + .fa
				top: 71px
				&.is-mod
					+r(900)
						position: relative
						top: 0
						transform: rotate(90deg)
		.code__item
			+r(900)
				display: inline-block
	&__wrap
		position: relative
		margin: 0 auto
		max-width: 630px
		text-align: left
		+clr
	&__in
		position: relative
		text-align: left
		+clr
	&__bott
		margin-top: 24px
	&__foot
		margin-top: 22px
	&__nav
		margin-top: 10px
		+r(678)
			display: none
		li
			margin-left: 44px
			vertical-align: top
			display: inline-block
			&:first-child
				margin-left: 0
	a
		color: $c_card_inf
	.card
		& + .fa
			position: absolute
			top: 38px
			left: 50%
			transform: translateX(-50%)
			font-size: 30px
			color: $c_card_arr
			+r(768)
				position: relative
				top: auto
				margin: 5px 0
				transform: rotate(90deg)
	.code
		float: left
		width: 410px
		+r(900)
			width: 100%
			text-align: center
		& + .card
			margin-left: 10px
		& + .fa
			position: absolute
			top: 108px
			left: 405px
			font-size: 30px
			color: $c_card_arr
			+r(900)
				position: relative
				top: 0
				left: 50%
				transform: translateX(-50%)
				transform: rotate(90deg)

// card
.card
	float: left
	position: relative
	margin-left: 30px
	padding: 12px 15px
	width: 300px
	min-height: 190px
	overflow: hidden
	border-radius: 6px
	vertical-align: top
	transition: box-shadow .2s, border-color .2s
	border: 1px solid $bord_card
	box-shadow: 0 1px 2px rgba($black, 0.2)
	background: $bg_card
	display: inline-block
	+clr
	+r(768)
		float: none
		margin: 0 auto
		display: block
	+r(335)
		width: 100%
	&:first-child
		margin-left: 0
		+r(768)
			margin: 0 auto
	&.is-active
		box-shadow: 0 0 5px rgba($black, 0.3)
		border-color: $bg_card
	&.is-phone
		padding: 12px 0
		height: 251px
		overflow: initial
		border: none
		box-shadow: none
		background: none
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			+svg(card-phone,302,251)
			+r(335)
				width: 100%
	&.is-mod
		margin-top: 30px
		padding-top: 50px
		box-shadow: none
		border: none
		+r(768)
			margin-top: 0
	&__in
		position: relative
		z-index: 1
		+clr
	&__left
		float: left
		padding: 32px 15px 0
		width: 170px
	&__right
		float: right
		padding: 165px 0 0 14px
		width: 130px
		font-size: 12px
		.card__inf
			float: none
	&__label
		color: $c_body
		cursor: pointer
		user-select: none
		display: block
		+clr
		& + .card__row
			margin-top: 5px
	&__row
		margin-top: 13px
		+clr
		.input
			&.is-date
				float: left
				margin-left: 9px
				&:first-child
					margin-left: 0
			&.is-cvv
				float: right
	&__inf
		float: right
		color: $c_card_inf
		a
			color: inherit
		.fa
			margin-left: 2px
	&__cur
		margin-left: 5px
	&__foot
		margin-top: 10px
	.line
		margin: 12px -15px 10px

// line
.line
	margin: 0
	height: 2px 
	border: none
	border-bottom: 1px solid $bord_line
	background: $white

// error
.error
	font-size: 16px
	&__title
		color: $red
		& + p
			margin-top: 8px
	&__img
		margin-top: 22px
	&__butt
		margin-top: 44px

// code
.code
	font-size: 16px
	&__item
		text-align: left
		margin-top: 95px
		width: 192px
		.btn
			margin-top: 10px
	&__img
		position: relative
		& + .code__item
			+r(768)
				margin: 10px auto 0
				display: block
		.input	
			position: absolute
			top: 108px
			left: 24px
			width: 110px
	&__item,
	&__img
		margin-left: 30px
		vertical-align: top
		display: inline-block
		+r(768)
			margin: 10px 0 0
		&:first-child
			margin-left: 0
			+r(768)
				margin: 20px auto 10px
				display: block
	&__phone
		color: $c_text
	a
		color: $l_blue
		transition: border-color .3s
		border-bottom: 1px solid transparent
		&:hover
			border-color: $l_blue
	&__count
		margin-top: 5px
	.counter
		margin: 0 7px
		vertical-align: middle
		display: inline-block
		& + span
			vertical-align: middle
			display: inline-block

// footer
.footer
	position: relative
	color: $white
	background: url(../img/bg-foot.png) no-repeat 50% 25px
	background-size: cover
	+r(768)
		overflow: hidden
	&__top
		height: 25px
	&__in
		margin: 0 auto
		padding: 20px 10px 25px
		max-width: 865px
		text-align: center
		+clr
		+r(480)
			padding: 10px 10px 33px
	&__left
		float: left
		text-align: left
		font-size: 12px
		+r(768)
			float: none
	&__center
		margin: -45px -20px 0
		display: inline-block
		+r(768)
			position: absolute
			top: 103px
			right: -36px
			margin: 0
	&__right
		float: right
		text-align: left
		+r(768)
			float: none
			margin-top: 25px
	&__row
		margin-top: 18px
		+clr
		+r(480)
			margin-top: 32px
		.soc,
		.support
			float: left
			+r(480)
				float: none
		.support
			margin-left: 20px
			+r(480)
				margin: 25px 0 0 
	&__partners
		padding: 24px 0 36px
		border-top: 1px solid $blue
		box-shadow: 0 -1px 0 $bord_foot
	.logo
		margin-top: 0
		float: none
		+r(900)
			display: none
	.title-small
		margin-bottom: 12px

// copy
.copy
	margin-top: 20px
	max-width: 215px

// partners
.partners
	@extend %in
	text-align: center
	&__item
		margin-top: 12px
		margin-left: 22px
		vertical-align: top
		display: inline-block
		+r(480)
			margin-left: 5px
		&:first-child
			margin-left: 0

// app
.app
	margin-top: 10px
	+clr
	&__item
		float: left
		margin-left: 8px
		padding: 0 7px 0 10px
		height: 32px
		color: $white
		transition: color .2s, box-shadow .2s, background .2s
		line-height: 30px
		border: 1px solid $white
		border-radius: 4px
		+r(480)
			float: none
			margin: 7px 0 0 
			width: auto
			display: table
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			background: $white
		&:first-child
			margin-left: 0
		.fa,
		.icon
			margin-right: 4px
			vertical-align: middle
			display: inline-block
		.fa
			font-size: 22px
	&__text
		display: inline

// compare
.compare
	position: relative
	background: url(../img/compare-bg.png) 50% 650px repeat
	&__top-bg
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 640px
		background: url(../img/clouds.png) no-repeat 50% 300px, linear-gradient(to top, $white, $bg_blue)
		+r(975)
			height: 0
			padding-bottom: 66.5%
		+r(768)
			padding-bottom: 100%
	&__in
		position: relative
		margin: 0 auto
		padding: 0 12px
		max-width: 960px
	&__wrap
		border-radius: 4px
		overflow: hidden
		box-shadow: 0px 1.33px 1.33px rgba($black, 0.3)
		background: $white
	&__text
		margin: 30px 0 15px 25px
		color: $white
		font-size: 18px
		+r(768)
			margin: 20px 10px
			font-size: 12px
	&__top
		position: relative
		img
			max-width: 100%
			display: block
		.compare__link
			position: absolute
			top: 50%
			left: 50%
			transform: translate(calc(-50% + .5px),5px)
			+r(768)
				font-size: 14px
	&__link
		color: $white
		+r700
		font-size: 20px
		text-align: center
		text-transform: uppercase
		text-shadow: 0px 2px 2px rgba($black, 0.3)
		&:hover
			.fa
				animation: arrTopBot .7s infinite linear
		span
			transform: translate3d(0,0,0)
			display: block
	.stock
		position: relative
		background: url(../img/cloud-top.png) no-repeat 50% 0
	.title-little
		margin: 25px 0 16px

@keyframes arrTopBot
	0%
		transform: translateY(0)
	50%
		transform: translateY(5px)
	100%
		transform: translateY(0)

// saving
.saving
	padding: 40px 0 318px
	+r(768)
		padding: 20px 0 204px
	&:before
		position: absolute
		content: ''
		left: 0
		right: 0
		bottom: 0
		height: 536px
		background: url(../img/saving_bg.png) 0 100% no-repeat
		background-size: 100% 
	&__top
		position: relative
		margin: 104px 0
		text-align: center
		+r(768)
			margin: 0 -12px
	&__title
		position: relative
		padding: 22px 44px
		+r700
		font-size: 24px
		color: $white
		text-transform: uppercase
		vertical-align: top
		background: $l_blue
		display: inline-block
		+r(960)
			font-size: 18px
		+r(768)
			padding-bottom: 80px
			width: 100%
			+r400
			text-transform: initial
		.rhomb
			margin: -84px 50px -84px
			+r(768)
				position: absolute
				top: 100%
				left: 50%
				transform: translate(-50%,-50%) rotate(45deg)
				margin: 0
	&__left,
	&__right
		+r(480)
			display: block
		&:before,
		&:after
			position: absolute
			content: ''
			+r(768)
				display: none
	&__left
		&:before
			left: -11px
			top: 0
			+arr(11,40,$l_blue,tr)
		&:after
			left: -11px
			bottom: 0
			+arr(11,40,$l_blue,br)
	&__right
		&:before
			right: -11px
			top: 0
			+arr(11,40,$l_blue,tl)
		&:after
			right: -11px
			bottom: 0
			+arr(11,40,$l_blue,bl)

// rhomb
.rhomb
	position: relative
	width: 188px
	height: 188px
	+rotate(45)
	text-shadow: 0px 2px 2px rgba($black, 0.3)
	border-radius: 30px
	box-shadow: 2px 2px 2px rgba($black, 0.3)
	background: $l_blue
	vertical-align: top
	display: inline-block
	+r(768)
		box-shadow: 2px 2px 2px rgba($black, 0.3), -1px -1px 2px rgba($black, 0.2)
		width: 88px
		height: 88px
	&:before
		position: absolute
		content: ''
		top: -10px
		bottom: -10px
		left: -10px
		right: -10px
		border-radius: 32px
		border: 1px solid $l_blue
	&__in
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%) rotate(-45deg)
	&__top
		margin-top: 35px
		font-size: 64px
		line-height: 1
		+r(768)
			margin-top: 5px
			font-size: 35px
	&__price
		font-size: 24px
		+r(768)
			font-size: 14px
	.icon
		display: none
		+r(768)
			display: inline-block

// join
.join
	padding: 30px 0
	font-size: 24px
	text-align: center
	box-shadow: 0px 2px 2px rgba($black, 0.3), 0px -2px 2px rgba($bord_step, 0.3)
	background: $white
	+r(768)
		font-size: 14px
		letter-spacing: -.2px
	&__in
		@extend %in
	&__row
		margin-top: 20px
		&:first-child
			margin-top: 0
	.btn
		+r(480)
			width: 100%

// simile
.simile
	position: relative
	+clr
	&.is-exemple
		color: $white
		&:before
			bottom: 60px
		.circle
			margin: -7px -60px
			color: $c_body
			+r(768)
				margin: 0 -60px
		.simile__field
			padding: 8px 20px 8px 45px
			width: calc(100% - 106px)
			line-height: 1.4
			background: $bord_foot
			display: inline-block
			+r(960)
				padding-left: 35px
			+r(768)
				padding: 8px 15px !important
				height: 120px
				width: 100%
				font-size: 0
				vertical-align: top
		.simile__col
			padding-bottom: 0
			line-height: 120px
			+r(768)
				position: relative
				padding: 0
			&:first-child
				.simile__field
					background: $bg_sim_field
				.summ
					background: $bg_sim_field
					&:before
						+s(simile-circle-red)
					&:after
						background: $bg_sim_field
		.simile__arr
			position: absolute
			top: 50%
			left: 50%
			color: $white
			font-size: 24px
			transform: translate(-50%,-50%)
			background: transparent
			display: none
			+r(768)
				display: block
		.arr
			color: $c_body
		.summ
			+r(768)
				display: none
		.simile__wrap
			+r(960)
				padding: 0 10px
			+r(768)
				padding: 0
	&.is-comp
		+r(768)
			&:before
				bottom: auto
				height: 136px
			.simile__col
				padding: 0
				&:first-child
					padding-right: 2px
					.simile__row
						padding: 29px 70px 22px 0
						&:before
							background: linear-gradient(to left, #937891, #f05849)
			.simile__row
				position: relative
				padding: 29px 0 22px 60px
				+box
				&:before
					position: absolute
					content: ''
					left: 0
					right: 0
					height: 2px
					top: 0
					background: linear-gradient(to left, #3598db, #917893)
				&:first-child
					&:before
						display: none
			.simile__wrap
				padding: 15px 10px 0
				border-top: 1px solid $bord_step
	&:before
		position: absolute
		content: ''
		top: 0
		left: 50%
		bottom: 0
		margin-left: -1px
		width: 1px
		background: $bord_step
	&__col
		float: left
		padding: 0 35px 60px
		width: 50%
		&:first-child
			.simile__bot
				margin-left: -35px
				+r(960)
					margin-left: -20px
			.simile__top
				margin-left: -50px
				+r(768)
					margin-left: 0
		&:last-child
			.simile__serv
				margin-right: -30px
				margin-left: 35px
				+r(960)
					margin-left: 0
				+r(768)
					margin-right: 0
			.simile__bot
				margin-right: -35px
				+r(960)
					margin-right: -20px
			.simile__top
				padding-left: 80px
				+r(768)
					padding-left: 0
		& + .circle
			float: left
		.btn
			width: 100%
	&__top
		margin-bottom: 60px
		+r(768)
			margin-bottom: 0
		img
			margin: -7px auto -7px
			display: block
			+r(768)
				display: none
	&__wrap
		padding: 0 52px
		+clr
		+r(960)
			padding: 0 20px
	&__row
		margin-top: 20px
		color: $c_text
		font-size: 18px
		line-height: 39px
		+r(960)
			font-size: 16px
		+r(768)
			position: relative
			text-align: center
			font-size: 0
			.simile__text
				position: absolute
				top: 50%
				left: 100%
				width: 80px
				color: $c_body
				font-size: 14px
				transform: translate(-40px,-50%)
		&:first-child
			margin-top: 0
		span,
		div
			line-height: 1.3
			vertical-align: middle
	&__circle
		margin-right: 18px
		width: 39px
		height: 39px
		color: $white
		font-size: 16px
		line-height: 39px !important
		text-align: center
		vertical-align: top
		border-radius: 50%
		background: $l_blue
		display: inline-block
		+r(768)
			margin: 0
		&.is-red
			background: $l_red
		.fa
			vertical-align: middle
	&__price
		color: $l_blue
		+r(768)
			margin: 10px 0 0
			font-size: 14px
			display: block
		&.is-red
			color: $l_red
	&__serv
		padding-left: 20px
		+r(960)
			margin-left: -35px
			padding-left: 0
		+r(768)
			margin-left: 0
	&__bot
		margin-top: 60px
		+r(960)
			display: none
	&__point
		margin: 23px 0 24px
		font-size: 0
		+clr
		+r(768)
			&:hover
				cursor: move
		.simile__field
			font-size: 18px
			+r(960)
				font-size: 14px
	&__item
		+r(768)
			position: relative
			overflow: hidden
		&.is-left
			text-align: center
			.simile__col
				&:first-child
					position: absolute
					right: 0
					width: 100%
					.res
						display: inline-block
						+r(480)
							font-size: 18px
							margin-left: 105px
				&:last-child
					transform: translateX(-100%)
			.circle	
				position: absolute
				left: 60px
			.simile__arr
				visibility: hidden
		&.is-right
			text-align: center
			.simile__col
				&:first-child
					transform: translateX(-100%)
				&:last-child
					position: absolute
					right: 0
					width: 100%
				.res
					display: inline-block
					+r(480)
						font-size: 18px
						margin-right: 105px
			.circle	
				position: absolute
				right: 60px
			.simile__arr
				visibility: hidden
		&:last-child
			padding-bottom: 5px
			margin-bottom: 40px
			.simile__point
				margin-bottom: 0
		$rotate: 0deg
		$padding: 14px
		@for $i from 1 through 3
			&:nth-child(#{$i})
				.simile__col
					&:last-child
						.summ
							&:before
								transform: rotate($rotate)
								$rotate: $rotate + 30deg
						.simile__field
							padding-top: $padding
							padding-bottom: $padding
							$padding: $padding + 6px

		$rotate: 0deg
		@for $i from 1 through 3
			&:nth-child(#{$i})
				.simile__col
					&:first-child
						.summ
							&:before
								transform: rotate($rotate)
								$rotate: $rotate + 70deg

.res
	margin-top: 12px
	font-size: 18px
	color: $white
	line-height: 1.2
	display: none
	&.is-blue
		.res__top
			border-color: #2B7DB5
	&__top
		padding: 8px 0
		border-bottom: 1px solid #cc4B3e
	&__bot
		padding: 8px 0

// summ
.summ
	position: relative
	line-height: 1.4
	height: 106px
	width: 106px
	line-height: 106px
	text-align: center
	vertical-align: top
	display: inline-block
	&:after
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 106px
		width: 106px
		z-index: 1
		border-radius: 50%
		background: $bord_foot
	&:before
		position: absolute
		top: -20px
		left: -20px
		content: ''
		+s(simile-circle-blue)
	&__in
		position: relative
		line-height: 1.4
		font-size: 24px
		z-index: 2
		vertical-align: middle
		display: inline-block
	&__top
		position: relative
		+r700
		font-size: 32px
		&:before
			position: absolute
			content: ''
			left: 50%
			bottom: 0
			margin-left: -17px
			width: 34px
			height: 1px
			background: $white

// arr
.arr
	position: relative
	font-size: 16px
	text-align: center
	line-height: 1
	z-index: 1

// circle
.circle	
	position: relative
	margin: 20px auto -23px
	width: 120px
	height: 120px
	line-height: 120px
	font-size: 16px
	text-align: center
	border-radius: 50%
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
	background: $white
	+r(768)
		z-index: 1
	&.is-mob
		margin-bottom: 20px
		height: 80px
		line-height: 80px
		width: 80px
	&__price
		+r700
		font-size: 25px
	&__in
		width: 100%
		line-height: 1.1
		vertical-align: middle
		display: inline-block

.is-mob-hide
	+r(768)
		display: none
.is-mob-show
	display: none
	+r(768)
		display: block

// soc
.soc
	+clr
	&__item
		float: left
		margin-left: 10px
		&:first-child
			margin-left: 0
	a
		height: 32px
		width: 32px
		color: $white
		font-size: 16px
		text-align: center
		line-height: 30px
		border-radius: 50%
		transition: color .2s, box-shadow .2s, background .2s
		border: 1px solid $white
		display: block
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			background: $white

// tabs
.tabs
	&__list
		@extend %in
		text-align: center
		li
			position: relative
			padding-bottom: 20px
			margin-left: 48px
			display: inline-block
			&:before
				position: absolute
				content: ""
				bottom: 0
				left: 50%
				margin-left: -11px
				+svg(tabs-arr,22,10) 
				display: none 
			&:first-child
				margin-left: 0
			&.is-active
				color: $c_orange 
				&:before
					display: block
		a
			color: inherit 
			transition: color .2s
			&:hover
				color: $c_orange 
	&__cont	
		border-top: 1px solid $bord_orange 
		border-bottom: 1px solid $bord_orange 
		display: none
		&.is-active
			display: block
		img
			max-width: 100%
			display: block