// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,900)

=r400
	font-family: 'Roboto', sans-serif
	font-weight: 400

=r700
	font-family: 'Roboto', sans-serif
	font-weight: 700

=r900
	font-family: 'Roboto', sans-serif
	font-weight: 900

// body 
body
	color: $c_body
	+r400
	font-size: 14px
	line-height: 1.3


//reset
a
	text-decoration: none

h1, h2, h3, h4, h5, h6, em, b, strong, i, th, td
	font-weight: normal

// extend
.in
	padding: 0 10px
	margin: 0 auto
	max-width: 960px
	+clr

%in
	@extend .in

// btn
.btn
	position: relative
	padding: 5px 20px
	color: $white
	+r400
	font-size: 12px
	line-height: 1.1
	transition: color .2s, box-shadow .2s, background .2s
	border: 1px solid $white
	border-radius: 25px
	background: transparent
	display: inline-block
	&:hover
		color: $blue
		box-shadow: 0px 2px 2px rgba($black, 0.3)
		background: $white
	&_blue
		color: $white
		border-color: $l_blue
		background: $l_blue
		&:hover
			color: $l_blue
			background: $white
			box-shadow: none
	&_middle
		padding: 9px 20px

button.btn
	line-height: 1

// title-small
.title-small
	+r700
	text-transform: uppercase
	font-size: 12px

// header
.header
	position: relative
	height: 62px
	color: $white
	font-size: 12px
	z-index: 1
	box-shadow: inset 0 -1px 0 $shad_header
	border-bottom: 1px solid $bord_header
	background: $bg_blue
	&__in
		@extend %in
	&__right
		float: right
		margin-top: 15px
		+clr

// logo
.logo
	position: relative
	float: left
	margin-top: 11px
	&:hover
		.hint
			opacity: 1
			visibility: visible
			z-index: 1
	a
		color: $white
		+clr
	.icon
		float: left
		margin-right: 5px
	&__text
		float: left
		margin-top: 6px
		width: 105px

// timer
.timer
	position: absolute
	left: 50%
	transform: translate(-50%,0)
	margin-left: 1%
	margin-top: 15px
	font-size: 22px
	&:hover
		.hint
			opacity: 1
			visibility: visible
			z-index: 1
	+r700
	+clr
	&__wrap,
	&__numb,
	&__thous,
	&__text
		float: left
	&__thous
		margin-left: 2px
		padding-top: 9px
		line-height: 1
	&__numb
		position: relative
		margin-left: 2px
		height: 29px
		line-height: 27px
		border: 1px solid $bord_timer
		box-shadow: inset 0 1px 0 $shad_number_out, 0 1px 0 $shad_number_out
		border-radius: 3px
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
			right: 0
			height: 1px
			z-index: 2
		&:before
			top: 11px
			background: rgba($shad_number, .7)
		&:after
			top: 12px
			background: rgba($white, .5)
		&:first-child
			margin-left: 0
		span
			position: relative
			padding: 0 6px
			z-index: 1
			display: block
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				right: 0
				bottom: 0
				opacity: .1
				background: radial-gradient(50% 50%, circle farthest-corner, rgba($white, 0) 0%, rgba($black, 1) 100%)
	&__text
		margin-left: 9px
		width: 95px
		font-size: 12px
		+r400
	.hint
		margin-top: 11px
		

// hint
.hint
	position: absolute
	top: 100%
	left: 50%
	transform: translate(-26%, -4px)
	font-size: 11px
	white-space: nowrap
	visibility: hidden
	z-index: -1
	opacity: 0
	transition: opacity .2s, visibility .2s
	span
		padding: 8px 9px
		color: $blue
		border-radius: 2px
		box-shadow: 2px 2px 2px rgba($black, .3)
		background: $white
		display: inline-block

// cont
.cont
	float: left
	font-size: 12px
	& + .lang
		margin-left: 20px
	.fa
		margin-right: 8px
		font-size: 32px
	&__right
		float: right
		margin-top: 2px
		a
			margin-top: 1px
			color: $white
			line-height: 1.2
			transition: border-color .2s
			border-bottom: 1px solid transparent
			display: block
			&:hover
				border-color: $white
			&:first-child
				margin-top: 0

// lang
.lang
	float: right
	+clr
	&__item
		float: left
		margin-left: 5px
		&:first-child
			margin-left: 0
		&.is-active
			a
				color: $blue
				&:before
					transform: scale(1)
					opacity: 1
	a
		position: relative
		height: 32px
		width: 32px
		color: $white
		line-height: 30px
		text-align: center
		text-transform: uppercase
		border-radius: 50%
		transition: color .3s, box-shadow .3s
		border: 1px solid $white
		display: block
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			&:before
				transform: scale(1)
				opacity: 1
		&:before
			position: absolute
			content: ''
			top: -1px
			left: -1px
			right: -1px
			bottom: -1px
			background: $white
			transition: transform .3s, opacity .3s
			transform: translate3d(0,0,0)
			transform: scale(0)
			will-change: opacity
			opacity: 0
			border-radius: 50%
		span
			position: relative
			z-index: 1

// slider
.slider
	box-shadow: inset 0 -1px 0 $bg_blue
	border-bottom: 1px solid $bord_header
	background: url(../img/cloud.png) no-repeat 65% 10px, $bg_blue
	&__in
		height: 139px
		@extend %in
	&__slide
		width: 100%
	.slick-dots
		right: 125px
		bottom: 16px

.slick-slider
	visibility: hidden
	opacity: 0
	&.is-init
		visibility: visible
		opacity: 1
	.slick-dots
		text-align: right
		font-size: 0
		line-height: 1
		li
			margin-left: 7px
			padding: 0
			&:first-child
				margin-left: 0
			&.slick-active
				button
					opacity: 1
					&:before
						transform: scale(1)
						opacity: 1
		button
			position: relative
			height: 13px
			width: 13px
			border: 1px solid $white
			background: none
			&:before
				position: absolute
				content: ''
				top: 2px
				left: 2px
				height: 7px
				width: 7px
				border-radius: 50%
				background: $white
				will-change: opacity
				transition: background .3s, transform .3s, opacity .3s
				transform: scale(0)
				opacity: 0

// stock
.stock
	padding: 10px 0 10px 55px
	text-align: center
	color: $white
	+r900
	// &__top
	&__text
		margin-top: 45px
		text-transform: uppercase
		font-size: 13px
		text-shadow: 0px 0.82px 1.64px rgba($black, .2)
		vertical-align: top
		display: inline-block
		span
			&.is-up
				font-size: 22px
			& + span
				margin-left: 8px
	&__disc
		position: relative
		margin-left: 5px
		vertical-align: top
		display: inline-block
	&__plus
		position: absolute
		top: 100%
		left: 50%
		transform: translate(-68%, -9px)
	&__more
		text-align: right
		margin-top: -10px

// steps
.steps
	overflow: hidden
	background: url(../img/bg-steps.png) repeat
	&__in
		position: relative
		@extend %in
		padding-left: 50px
		&:before
			position: absolute
			content: ''
			top: 0
			left: 20px
			bottom: 0
			z-index: 1
			width: 1px
			background: $bord_step

// step
.step
	position: relative
	&:before,
	&:after
		position: absolute
		content: ''
		top: 0
		height: 100%
		width: 1000%
		background: $white
		display: none
	&:before
		right: 100%
	&:after
		left: 100%
	&.is-active
		.step__block,
		.step__all
			display: inline
	&.is-valid
		background: $white
		&:before,
		&:after
			display: block
		& + .is-active
			background: $white
			&:before,
			&:after
				display: block
	&__top
		position: relative
		padding: 12px 0
	&__title
		color: $l_gray
	&__numb
		position: absolute
		top: 0
		left: -50px
		width: 40px
		height: 40px
		color: $c_step_numb
		font-size: 18px
		line-height: 38px
		text-align: center
		z-index: 3
		border-radius: 50%
		border: 1px solid $bord_step
		background: $white
		&.is-receipt
			.fa
				display: inline-block
		.fa
			vertical-align: middle
			display: none
	&__all
		font-size: 12px
		letter-spacing: -.4px
		display: none
	&__block
		display: none

// services
.services
	+clr
	&__col
		float: left
		margin-left: 10px
		width: 360px
		&:first-child
			margin-left: 0

// service
.service
	width: 100%
	border-radius: 4px
	box-shadow : 0px 2px 2px rgba($black, 0.3)
	background: $white
	display: inline-table
	+clr
	& + .service
		margin-top: 10px
	&.is-card
		.service__top
			background: linear-gradient(28.44deg, $serv_green 0%, $l_serv_green 100%)
		.service__ico
			&:before
				+svg(shad-step-card,129,127)
	&.is-phone
		.service__top
			background: linear-gradient(28.44deg, $l_serv_green 0%, $l_serv_red 100%)
		.service__ico
			&:before
				top: 3px
				left: 7px
				+svg(shad-step-phone,117,141)
	&.is-get
		.service__top
			background: linear-gradient(28.44deg, $serv_blue 0%, $l_serv_blue 100%)
		.service__ico
			&:before
				top: 6px
				+svg(shad-step-get,128,126)
	&__col
		width: 50%
		border-left: 1px solid $bord_serv
		vertical-align: top
		display: table-cell
		&:first-child
			text-align: center
		.link
			margin-top: 18px
		p
			letter-spacing: -.35px
	&__wrap
		padding: 15px 12px
	&__top
		padding: 15px 12px
		.btn
			margin-top: 15px
	&__img
		margin: 19px 0
	&__ico
		position: relative
		vertical-align: top
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 5px
			left: 5px
		img
			position: relative
			z-index: 1
			display: block
	&__bot
		padding: 14px
		border-top: 1px solid $bord_serv
	.alert
		margin-top: 4px

// rating
.rating
	&__list
		font-size: 0
		line-height: 1
	&__item
		position: relative
		margin-left: 8px
		font-size: 20px
		color: $c_rat
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
		&:hover,
		&.is-active
			color: $orange
		&.is-half
			&:before
				position: absolute
				content: "\f005"
				top: 0
				left: 0
				width: 50%
				overflow: hidden
				color: $orange
				display: inline-block
				font: normal normal normal 14px/1 FontAwesome
				font-size: inherit
				cursor: pointer
				text-rendering: auto
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
		a
			color: inherit
			transition: color .2s
	&__quantity
		margin-top: 5px
		color: $c_step_numb

// link
.link
	color: $l_blue
	transition: border-color .2s
	line-height: 1.3
	border-bottom: 1px solid transparent
	display: inline-block
	&:hover
		border-color: $l_blue

// altert arr
=altarr($color)
	background: $color
	&:before
		+arr(4,8,$color,tr)
	&:after
		+arr(4,8,$color,br)
	span:before
		+arr(4,8,$color,tl)
	span:after
		+arr(4,8,$color,bl)

// alert
.alert
	position: relative
	padding: 0 14px
	color: $white
	line-height: 1.2
	text-transform: uppercase
	vertical-align: top
	display: inline-block
	+altarr($red)
	&:before,
	&:after,
	span:before,
	span:after
		position: absolute
		content: ''
	&:before
		top: 0
		left: -4px
	&:after
		bottom: 0
		left: -4px
	span:before
		top: 0
		right: -4px
	span:after
		right: -4px
		bottom: 0
	&.is-orange
		+altarr($orange)

// counter
.counter
	&__numb,
	&__thous
		vertical-align: top
		display: inline-block
	&__inf
		color: $c_text

// footer
.footer
	color: $white
	background: url(../img/bg-foot.png) no-repeat 50% 25px
	background-size: cover
	&__top
		height: 25px
	&__in
		margin: 0 auto
		padding: 20px 10px 25px
		max-width: 865px
		text-align: center
		+clr
	&__left
		float: left
		text-align: left
		font-size: 12px
	&__center
		margin-top: -45px
		display: inline-block
	&__right
		float: right
		text-align: left
	&__row
		margin-top: 18px
		+clr
		.soc,
		.support
			float: left
		.support
			margin-left: 20px
	&__partners
		padding: 24px 0 36px
		border-top: 1px solid $blue
		box-shadow: 0 -1px 0 $bord_foot
	.logo
		margin-top: 0
		float: none
	.title-small
		margin-bottom: 12px

// copy
.copy
	margin-top: 20px
	max-width: 215px

// partners
.partners
	@extend %in
	text-align: center
	&__item
		margin-top: 12px
		margin-left: 22px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0

// app
.app
	margin-top: 10px
	+clr
	&__item
		float: left
		margin-left: 8px
		padding: 0 7px 0 10px
		height: 32px
		color: $white
		transition: color .2s, box-shadow .2s, background .2s
		line-height: 30px
		border: 1px solid $white
		border-radius: 4px
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			background: $white
		&:first-child
			margin-left: 0
		.fa,
		.icon
			margin-right: 4px
			vertical-align: middle
			display: inline-block
		.fa
			font-size: 22px
	&__text
		display: inline

// soc
.soc
	+clr
	&__item
		float: left
		margin-left: 10px
		&:first-child
			margin-left: 0
	a
		height: 32px
		width: 32px
		color: $white
		font-size: 16px
		text-align: center
		line-height: 30px
		border-radius: 50%
		transition: color .2s, box-shadow .2s, background .2s
		border: 1px solid $white
		display: block
		&:hover
			color: $blue
			box-shadow: 0px 2px 2px rgba($black, 0.3)
			background: $white