+font("HelveticaNeue-Thin", HelveticaNeueCyr-Thin)
+font("HelveticaNeue-Light", HelveticaNeueLight)
+font("HelveticaNeue", HelveticaNeueCyr-Roman)
+font("HelveticaNeue-Bold", HelveticaNeueCyr-Bold)

=h100
	font-family: "HelveticaNeue-Thin", Arial, sans-serif
=h300
	font-family: "HelveticaNeue-Light", Arial, sans-serif
=h400
	font-family: "HelveticaNeue", Arial, sans-serif
=h700
	font-family: "HelveticaNeue-Bold", Arial, sans-serif

// extend
.in
	margin: 0 auto
	padding: 30px 28px 40px
	width: 869px
%in
	@extend .in

// variables
$d_red: #fc1147
$l_red: #fed6d6
$yellow: #fffc00
$turquoise: #00e0bf
$green: #41e262
$gray: #d2d2d2
$blue: #99deef
$d_blue: #1e2e5d

$c_text: #383838
$c_d-text: #424242
$c_logo: #00e0b3
$c_input: #353535
$c_blue: #00c2fd
$c_darc: #575757
$c_blue: #59d4ff

$bg_f: #335fa2
$bg_tw: #24a7df
$bg_in: #006b9c
$bg_g: #de4d3a

$bd_input: #e2e2e2
$bd_green: #b1ffd6
$bd-yellow: #eede7c
$bd-bord-blue: #00ceff


//reset
a
	text-decoration: none

h1, h2, h3, h4, h5, h6, em, b, strong, i, th, td
	font-weight: normal
	font-style: normal

body
	color: $c_text
	+h300
	font-size: 14px
	line-height: 1.3

// icons
.icon
	display: inline-block
	&-f
		+s(f)
	&-tw
		+s(tw)
	&-in
		+s(in)
	&-g
		+s(g)
	&-card
		+s(card)
	&-numb
		+s(numb)
	&-email
		+s(email)

// header
.header
	padding: 28px 0 0
	text-align: center

// logo
.logo
	color: $c_d-text
	font-size: 12px
	h1
		margin-bottom: 8px
		color: $c_logo
		font-size: 38px
		line-height: 1
		+h100

// nav
.nav
	margin-top: 20px
	font-size: 0
	+h700
	background-color: $turquoise
	background-image: linear-gradient(18deg, $turquoise 0%, $green 100%)
	a
		position: relative
		padding: 0 3px
		margin-left: 45px
		height: 69px
		color: #fff
		font-size: 14px
		line-height: 69px
		display: inline-block
		&:hover,
		&.is-active
			&:before
				background: $yellow
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			height: 3px
			transition: background .2s
			background: transparent
		&:first-child
			margin-left: 0

// top
.top
	&.is-receive
		.step
			padding-top: 78px
			&__in
				vertical-align: top

// step
.step
	height: 642px
	+vertical
	&_two
		.step__btn
			margin-top: 30px
	&__in
		margin: 0 auto
		max-width: 920px
		vertical-align: middle
		font-size: 14px
		display: inline-block
	&__block
		position: relative
		padding: 30px 39px 24px 32px
		border-radius: 20px
		border: 1px solid $blue
		background: #fff
	&__shad
		position: absolute
		top: 0
		right: 100%
		bottom: -20px
		margin-right: -20px
		width: 60px
		opacity: .3
		z-index: -1
		background-image: linear-gradient(268deg, #b6b6b6 0%, transparent 100%)
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
		&:before
			top: 0
			+arr(60,20,#fff,tl)
		&:after
			bottom: 0
			+arr(60,20,#fff,br)
	&__btn
		margin-top: 50px
	&__but
		margin-top: 34px
	&__form
		.input
			min-width: 342px
	&__check
		margin-top: 15px
	&__row
		margin-top: 35px
		min-width: 342px
		font-size: 15px
		+h400
		&:first-child
			margin-top: 0
		.step__bold
			margin-bottom: 5px
	&__bold
		+h700
	&__wrap
		margin: 0 auto
		width: 342px
		.price
			margin-top: 15px
		.title-middle
			margin-bottom: 18px
	&__text
		margin: 20px 0 10px

// title
.title
	margin-bottom: 18px
	text-align: center
	font-size: 22px
	+h700
	color: $c_darc

// title-small
.title-small
	font-size: 14px
	+h700

// title-middle
.title-middle
	margin-bottom: 30px
	color: $c_d-text
	font-size: 16px
	+h700

// price
.price
	font-size: 16px
	strong
		+h700

// btn
.btn
	position: relative
	height: 49px
	font-size: 16px
	min-width: 247px
	+h700
	color: #fff
	line-height: 49px
	text-align: center
	text-shadow: 0 1px 0 rgba(160, 160, 160, 0.43)
	border-radius: 49px
	overflow: hidden
	transition: background-color .2s
	background-color: $turquoise
	display: inline-block
	&:hover
		&:before
			left: -100%
	&:active
		background-color: darken($turquoise, 10%)
	&:before
		position: absolute
		content: ''
		left: 0
		top: 0
		width: 100%
		height: 100%
		transition: left .3s
		border-radius: 49px
		background-image: linear-gradient(18deg, $turquoise 0%, $green 100%)
	span
		position: relative
		z-index: 1
	&_bord
		color: $c_darc
		font-size: 13px
		height: 43px
		line-height: 43px
		border-radius: 43px
		&:hover
			span
				color: #fff
				&:before
					left: -100%
		span
			position: absolute
			top: 1px
			left: 1px
			right: 1px
			bottom: 1px
			border-radius: 47px
			transition: color .2s
			overflow: hidden
			display: inline-block
			&:before
				position: absolute
				content: ''
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: #fff
				transition: left .3s
				z-index: -1
				border-radius: 47px

// input
.input
	padding: 0 20px
	height: 47px
	width: 100%
	color: $c_input
	font-size: 15px
	line-height: 1.2
	+h400
	// -webkit-font-smoothing: antialiased
	transform: translate3d(0,0,0)
	transition: border-color .2s
	border: 1px solid $bd-input
	display: block
	&:focus
		border-color: $blue
		&::placeholder
			font-size: 0
	&.is-error
		border-color: $d_red
		background: $l_red
		& + .error-xext
			display: block
	&_yellow
		border-color: $bd-yellow

// checkbox
.checkbox
	position: relative
	font-size: 14px
	display: block
	position: relative
	display: inline-block
	vertical-align: top
	cursor: pointer
	user-select: none
	input
		position: absolute
		visibility: hidden
		opacity: 0
		top: 0
		left: 0 
		&:checked + span
			&:before
				opacity: 0
				transform: scale(0.1)
			i
				top: 10px
				visibility: visible
				transform: scale(1)
	span
		font-size: 15px
		line-height: 1
		padding: 7px 0 6px 35px
		display: inline-block 
		&:before
			content: "" 
			position: absolute
			top: 0
			left: 0
			border: 1px solid $blue
			border-radius: 50%
			width: 28px
			height: 28px
			transition: opacity .2s, transform .2s
		a
			+h400
			color: $c_blue
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:hover
				border-color: $c_blue
		i
			font-size: 11px
			color: $c_blue
			position: absolute
			top: 5px
			left: 7px
			transform: scale(0)
			transition: transform .2s, top .2s

// line
.line
	margin: 0
	padding: 0
	height: 1px
	background-color: $turquoise
	background-image: linear-gradient(18deg, $turquoise 0%, $green 100%)
	border: none

// rates
.rates
	text-align: center
	&__in
		@extend %in
		border: 1px solid $bd_green
	.btn
		margin-top: 22px
	p
		line-height: 1.9
	strong
		+h700

// answer
.answer
	&__in
		@extend %in
	&__text
		padding-right: 22px

// annex
.annex
	text-align: center
	&__in
		margin-bottom: 32px
		@extend %in
		padding: 0
	&__row
		margin-top: 25px
		font-size: 0
	.app
		margin-left: 25px
		&:first-child
			margin-left: 0

// question
.question
	&__in
		@extend %in
		padding-bottom: 20px
	.title
		margin-bottom: 5px

// cards
.cards
	margin: 10px 0 30px
	width: 872px
	+clr
	&__col
		float: left
		margin-left: 4%
		width: 48%
		text-align: left
		&:first-child
			text-align: right
			margin-left: 0
	.title-middle
		margin-bottom: 20px

// card
.card
	position: relative
	text-align: left
	border-radius: 20px
	border: 1px solid $blue
	background: #fff
	&__shad
		position: absolute
		top: 0
		right: 100%
		bottom: -20px
		margin-right: -20px
		width: 42px
		opacity: .3
		z-index: -1
		background-image: linear-gradient(268deg, #b6b6b6 0%, transparent 100%)
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
		&:before
			top: 0
			+arr(42,30,#fff,tl)
		&:after
			bottom: 0
			+arr(42,20,#fff,br)
	&__in
		padding: 38px 39px 37px 32px
	&__row
		position: relative
		margin-top: 18px
		font-size: 0
		+clr
		&:first-child
			margin-top: 0
	&__month,
	&__year,
	&__cvc
		float: left
		width: 91px
	&__year
		margin-left: 18px
	&__code
		float: left
		width: 128px
	&__cvc
		position: relative
		float: right
	&__info
		position: absolute
		top: -12px
		right: -7px
	&__icon
		font-size: 12px
		color: $c_blue
		+h400
		background-color: transparent
		&:hover
			& + .card__block
				opacity: 1
				visibility: visible
				z-index: 2
	&__block
		position: absolute
		left: -80px
		top: 100%
		margin-top: 7px
		padding: 7px 14px
		width: 340px
		font-size: 10px
		visibility: hidden
		opacity: 0
		z-index: -1
		color: #000
		transition: opacity .2s, visibility .2s
		border: 1px solid $bd-bord-blue
		background: #fff
	&__label
		position: absolute
		top: 3px
		left: 20px
		color: #bdbbbb
		font-size: 10px
		+h400
		z-index: 1
	&__question
		margin: -2px 0 0 10px
		color: #3276fb
		font-size: 10px
		line-height: 1
		+h400
		transition: border-color .2s
		border-bottom: 1px solid transparent
		vertical-align: top
		display: inline-block
		&:hover
			border-color: #3276fb
	&__cont
		padding: 39px 39px 37px 32px
		display: none
	&__ul
		margin-right: -1px
		width: 100%
		font-size: 12px
		overflow: hidden
		border-radius: 0 0 20px 20px
		background: #9de0f1
		display: table
		li
			position: relative
			min-width: 136px
			vertical-align: top
			transition: background .2s
			border-top: 1px solid $blue
			background: #9de0f1
			display: table-cell
			&:hover,
			&.is-active
				background: #c0eaf6
			&:before
				position: absolute
				content: ''
				top: -1px
				left: 0
				bottom: -1px
				width: 1px
				background: #fff
			&:first-child
				border-left: none
				&:before
					display: none
				a
					padding-left: 47px
				.icon
					left: 20px
		a
			position: relative
			padding: 15px 35px 10px 41px
			height: 64px
			color: $c_text
			+h400
			display: block
			.icon
				position: absolute
				top: 18px
				left: 23px
// error-xext
.error-xext
	position: absolute
	left: 0
	bottom: 100%
	margin-bottom: 5px
	color: #fc034a
	font-size: 10px
	display: none

// input-field
.input-field
	position: relative
	margin: 0 auto 12px
	width: 342px
	+h400
	&__shad
		position: absolute
		top: -18px
		right: 100%
		bottom: -8px
		width: 16px
		opacity: .2
		z-index: -1
		background-image: linear-gradient(268deg, #b6b6b6 0%, transparent 100%)
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
		&:before
			top: 0
			+arr(42,30,#fff,tl)
		&:after
			bottom: 0
			+arr(42,20,#fff,br)
	.currency
		position: absolute
		right: 20px
		top: 50%
		transform: translate(0,-50%)

// accord
.accord
	border-top: 1px solid $gray
	&:first-child
		border-top: none
	&.is-active
		.accord__top:before
			transform: rotate(90deg)
	&__top
		position: relative
		padding: 12px 0
		+h700
		user-select: none
		cursor: pointer
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 0
			transition: transform .3s
			transform: translate3d(0,0,0)
			transform: translate(0,-50%)
			+s(arrord-arr)
	&__block
		padding-bottom: 14px
		+h400
		display: none

// footer
.footer
	&__in
		margin: 0 auto
		max-width: 920px
		padding: 32px 15px 50px
	&__row
		+clr
	&__left
		float: left
	&__right
		float: right
	&__col
		margin-left: 35px
		+h400
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	&__center
		margin-top: 28px
		text-align: center
		font-size: 12px
	strong
		+h700


// soc
.soc
	font-size: 0
	&__item
		margin-left: 15px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	&__ico
		height: 24px
		width: 24px
		line-height: 23px
		text-align: center
		border-radius: 50%
		transition: background .2s
		vertical-align: top
		display: inline-block
		&.is-f
			background: $bg_f
			&:hover
				background: darken($bg_f, 20%)
			.icon
				margin-left: -1px
		&.is-tw
			background: $bg_tw
			&:hover
				background: darken($bg_tw, 20%)
			.icon
				margin-bottom: -1px
		&.is-in
			background: $bg_in
			&:hover
				background: darken($bg_in, 20%)
		&.is-g
			background: $bg_g
			&:hover
				background: darken($bg_g, 20%)
		.icon
			vertical-align: middle
	&__text
		margin-top: 7px
		text-align: center
		color: $d_blue
		text-align: center
		font-size: 10px


// partners
.partners
	margin-top: 30px
	font-size: 0
	text-align: center
	&__item
		margin-left: 15px
		height: 39px
		line-height: 39px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	.icon
		vertical-align: middle
	img
		vertical-align: middle