// variables
$black: #000
$white: #fff
$blue: #2A7CB2
$l_blue: #3498db
$red: #ed3e29
$l_gray: #999
$orange: #f6921e

$bg_blue: #2a7cb3
$bg_count: #cbcbcb

$bord_header: #21618c
$bord_timer: #3497da
$bord_foot: #3db1ff
$bord_step: #ccc
$bord_serv: #dcdcdc

$c_body: #4D4D4D
$c_step_numb: #989898
$c_rat: $bord_step
$c_text: $c_step_numb


$shad_header: $l_blue
$shad_number: #216181
$shad_number_out: #1c5e89
$shad_attend: #a8a8a8

$serv_green: rgba(255, 243, 213, 1)
$l_serv_green: rgba(246, 255, 247, 1)
$l_serv_red: rgba(213, 243, 255, 1)
$serv_blue: rgba(250, 255, 232, 1)
$l_serv_blue: rgba(255, 246, 249, 1)