footer.footer
	.footer__in
			.footer__row
				.footer__left
					.footer__col
						.day 24/7
					.footer__col
						p Служба поддержки
						p
							strong +38 044 495-49-55
					.footer__col
						p Email
						p
							strong support@edenlab.com.ua
				.footer__right
					.soc
						.soc__item
							a.soc__ico(href="#")
							.soc__text 29
						.soc__item
							a.soc__ico(href="#")
							.soc__text 15
						.soc__item
							a.soc__ico(href="#")
							.soc__text 2
						.soc__item
							a.soc__ico(href="#")
							.soc__text 0
			.footer__center
			.partners