footer.footer
	.footer__in
		.footer__row
			.footer__left
				.footer__col
					.day 24/7
				.footer__col
					p Служба поддержки
					p
						strong +38 044 495-49-55
				.footer__col
					p Email
					p
						strong support@edenlab.com.ua
			.footer__right
				.soc
					.soc__item
						a.soc__ico.is-f(href="#")
							.icon.icon-f
						.soc__text 29
					.soc__item
						a.soc__ico.is-tw(href="#")
							.icon.icon-tw
						.soc__text 15
					.soc__item
						a.soc__ico.is-in(href="#")
							.icon.icon-in
						.soc__text 2
					.soc__item
						a.soc__ico.is-g(href="#")
							.icon.icon-g
						.soc__text 0
		.footer__center Услуга предоставляется ПАО «Диамантбанк». Лицензия НБУ № 125 от 19.10.2011
		.partners
			.partners__item
				img(src="img/part-1.png", alt="img")
			.partners__item
				img(src="img/part-2.png", alt="img")
			.partners__item
				img(src="img/part-3.png", alt="img")
			.partners__item
				img(src="img/part-4.png", alt="img")
			.partners__item
				img(src="img/part-5.png", alt="img")
			.partners__item
				img(src="img/part-6.png", alt="img")
			.partners__item
				img(src="img/part-7.png", alt="img")
