header.header
	.header__inner
		a.logo(href="#")
			h1 P2Y
			p быстрые и безопасные переводы 
				br 
				| в гривнах с карту на карту в банках Украины
		nav.nav
			a(href="#") перевод средств
			a(href="#").is-active получение средств
