header.header
	.header__in
		//- logo
		a.logo(href="#")
			+icon('logo')
			span.logo__text Сервис денежных переводов
			//- hint
			.hint больше сервисов!
		//- timer
		.timer
			.timer__wrap
				.timer__numb 1
				.timer__numb 7
				.timer__numb 8
				span.timer__thous ,
				.timer__numb 6
				.timer__numb 7
				.timer__numb 8
			.timer__text Всего успешных переводов
		.header__right
			//- cont
			.cont
				+fa('medkit')
				.cont__right
					a(href="tel:+38 044 495 49 55") +38 044 495 49 55
					a(href="mailto:help@p2y.com.ua") help@p2y.com.ua
			//- lang
			ul.lang
				li.lang__item
					a(href="#") УКР
				li.lang__item
					a(href="#") ENG
				li.lang__item
					a(href="#") РУС
section.banner
	+icon('stock')
