//- reply
section.reply
	.reply__in
		h3.title ВОПРОСЫ И ОТВЕТЫ
		//- accord
		.accord.js-accord.is-active
			.accord__top.js-accord-but КАК ЭТО РАБОТАЕТ?
			.accord__block.js-accord-block 
				p При переводе средств по номеру карты получателя, деньги будут зачислены на карту в режиме онлайн без дополнительных действий получателя. При переводе средств с указанием номера мобильного телефона получателя, на указанный номер поступит СМС-сообщение с кодом перевода и ссылкой на сайт услуги. Перейдя по ссылке, получатель сможет выбрать карту, на которую будут зачислены средства, после чего они станут для него доступны. Код перевода действителен в течение 7 календарных дней. Также сервис позволяет получить деньги на Вашу карту, если получатель перевода - Вы.
				.video
					.video__title Видеоподсказка
					.video__preload
						.circ
							.circ__item.circ__item_1
							.circ__item.circ__item_2
							.circ__item.circ__item_3
							.circ__item.circ__item_4
							.circ__item.circ__item_5
							.circ__item.circ__item_6
							.circ__item.circ__item_7
							.circ__item.circ__item_8
						p Скоро
					.video__in
						img(src="img/youtybe.png", alt="img")
		//- accord
		.accord.js-accord
			.accord__top.js-accord-but Какие карты можно использовать для перевода и получения денег через PAY2YOU?
			.accord__block.js-accord-block 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat vero ipsa maiores aperiam aspernatur molestiae adipisci temporibus cupiditate praesentium quae?
				.video
					.video__title Видеоподсказка
					.video__preload
						.circ
							.circ__item.circ__item_1
							.circ__item.circ__item_2
							.circ__item.circ__item_3
							.circ__item.circ__item_4
							.circ__item.circ__item_5
							.circ__item.circ__item_6
							.circ__item.circ__item_7
							.circ__item.circ__item_8
						p Скоро
					.video__in
						img(src="img/youtybe.png", alt="img")
		//- accord
		.accord.js-accord
			.accord__top.js-accord-but В какой валюте можно переводить деньги?
			.accord__block.js-accord-block 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat vero ipsa maiores aperiam aspernatur molestiae adipisci temporibus cupiditate praesentium quae?
				.video
					.video__title Видеоподсказка
					.video__preload
						.circ
							.circ__item.circ__item_1
							.circ__item.circ__item_2
							.circ__item.circ__item_3
							.circ__item.circ__item_4
							.circ__item.circ__item_5
							.circ__item.circ__item_6
							.circ__item.circ__item_7
							.circ__item.circ__item_8
						p Скоро
					.video__in
						img(src="img/youtybe.png", alt="img")
		//- accord
		.accord.js-accord
			.accord__top.js-accord-but На каких устройствах можно сделать перевод?
			.accord__block.js-accord-block
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat vero ipsa maiores aperiam aspernatur molestiae adipisci temporibus cupiditate praesentium quae?
				.video
					.video__title Видеоподсказка
					.video__preload
						.circ
							.circ__item.circ__item_1
							.circ__item.circ__item_2
							.circ__item.circ__item_3
							.circ__item.circ__item_4
							.circ__item.circ__item_5
							.circ__item.circ__item_6
							.circ__item.circ__item_7
							.circ__item.circ__item_8
						p Скоро
					.video__in
						img(src="img/youtybe.png", alt="img")
		a.more(href="#") Показать больше
//- rates
section.rates
	.rates__in
		h3.title Тарифы и лимиты
		p Банк, который выпустил вашу карту, может сам устанавливает лимиты на перевод денег с карты на карту через интернет.
		.title-middle Лимиты на перевод денег:
		ul.list
			li
				strong 15 000 грн 
				| — столько вы можете перевести за один раз;
			li
				strong 75 000 грн 
				| — максимум, который вы можете перевести за сутки;
			li
				strong 150 000 грн 
				| — максимальная сумма, которую вы можете перевести за месяц.
		p Вам доступно 
			strong 25 транзакций
			| — в день, а в течение месяца вы можете 
			strong 100 раз 
			| — перевести деньги.