@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-check-yellow:before { content: ""; }

@font-face { font-family: "ProximaNova Light"; src: url("fonts/proximanova-light.eot"); src: url("fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light.woff2") format("woff2"), url("fonts/proximanova-light.woff") format("woff"), url("fonts/proximanova-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Regular"; src: url("fonts/proximanova-reg.eot"); src: url("fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg.woff2") format("woff2"), url("fonts/proximanova-reg.woff") format("woff"), url("fonts/proximanova-reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Bold"; src: url("fonts/proximanova-bold.eot"); src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff2") format("woff2"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova XBold"; src: url("fonts/proximanova-xbold.eot"); src: url("fonts/proximanova-xbold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-xbold.woff2") format("woff2"), url("fonts/proximanova-xbold.woff") format("woff"), url("fonts/proximanova-xbold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova-Black"; src: url("fonts/ProximaNova-Black.eot"); src: url("fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Black.woff2") format("woff2"), url("fonts/ProximaNova-Black.woff") format("woff"), url("fonts/ProximaNova-Black.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Geometria Bold"; src: url("fonts/geometria-bold.eot"); src: url("fonts/geometria-bold.eot?#iefix") format("embedded-opentype"), url("fonts/geometria-bold.woff2") format("woff2"), url("fonts/geometria-bold.woff") format("woff"), url("fonts/geometria-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 14px; line-height: 1.3; }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, em, b, strong, i, th, td { font-weight: normal; font-style: normal; }

p.is-yellow { color: #fff600; }

.icon { display: inline-block; }
.icon-f { background-image: url("../img/icons.png"); width: 7px; height: 13px; background-position: -53px -19px; }
.icon-tw { background-image: url("../img/icons.png"); width: 13px; height: 10px; background-position: -22px -18px; }
.icon-in { background-image: url("../img/icons.png"); width: 13px; height: 12px; background-position: -18px -33px; }
.icon-g { background-image: url("../img/icons.png"); width: 14px; height: 9px; background-position: -35px -33px; }
.icon-card { background-image: url("../img/icons.png"); width: 18px; height: 11px; background-position: 0px -18px; }
.icon-numb { background-image: url("../img/icons.png"); width: 9px; height: 15px; background-position: -53px 0px; }
.icon-email { background-image: url("../img/icons.png"); width: 14px; height: 14px; background-position: 0px -33px; }

.in, .annex__in, .question__in, .footer__in { margin: 0 auto; max-width: 890px; }

.in-sm, .rates__in, .answer__in { margin: 0 auto; max-width: 455px; }

.header__inner { max-width: 960px; margin: 0 auto; padding: 0 5px 0 35px; *zoom: 1; }
.header__inner:after { content: " "; display: table; clear: both; }

.nav { float: right; }
.nav a { margin: 0 25px; display: inline-block; vertical-align: top; color: #fff; font-size: 12px; line-height: 20px; text-transform: uppercase; letter-spacing: 0.1em; position: relative; padding: 45px 0 30px; }
.nav a:hover:before { background: #fff600; }
.nav a.is-active { font-family: "ProximaNova XBold", Arial, sans-serif; }
.nav a.is-active:before { background: #fff600; }
.nav a:before { content: ""; position: absolute; left: 0; right: 0; top: 0; height: 4px; -webkit-transition: background 0.2s; transition: background 0.2s; background: transparent; }

.logo { float: left; *zoom: 1; max-width: 400px; margin: 28px 0 0; }
.logo:after { content: " "; display: table; clear: both; }
.logo h1 { font-family: "ProximaNova XBold", Arial, sans-serif; font-size: 38px; color: #fff600; line-height: 30px; float: left; padding: 6px 17px 2px 0; border-right: 1px solid #fff600; margin: 0 17px 0 0; }
.logo p { overflow: hidden; font-family: "ProximaNova Light", Arial, sans-serif; color: #fff; font-size: 14px; line-height: 16px; padding: 4px 0 2px; }

.top { position: relative; color: #fff; background: url(../img/main-v2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; min-height: 800px; position: relative; }

.step { padding-bottom: 30px; text-align: center; height: 705px; text-align: center; font-size: 0; }
.step:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.step_one .step__block { padding: 30px 39px 36px 34px; max-width: 415px; }
.step_two .step__in { margin: 0 auto; width: 316px; }
.step_two .btn + .btn { margin-top: 30px; }
.step__title { font-size: 16px; line-height: 1; color: #fff; font-family: "ProximaNova Bold", Arial, sans-serif; text-transform: uppercase; margin-bottom: 30px; }
.step__block { position: relative; background: white; border: 1px solid #fff600; margin: 0 auto 30px; }
.step__block.is-mod:before { position: absolute; content: ""; top: 100%; left: 0; right: 0; height: 5px; margin-top: -1px; background: url(../img/block-bg.png) repeat-x 0 0; }
.step__btn { padding: 5px 0 30px; }
.step__row { padding: 19px 10px; font-size: 15px; color: #000; border-bottom: 1px solid #f4f5f7; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
.step__row.is-blue { padding: 14px 10px 18px; background: #f9faff; }
.step__code, .step__bold { margin-top: 7px; font-family: "ProximaNova Bold", Arial, sans-serif; }
.step__bold .price { font-size: 20px; }
.step__in { margin: 0 auto; width: 873px; font-size: 14px; vertical-align: middle; display: inline-block; }
.step__in > .title-middle { margin-bottom: 20px; }
.step__wrap { margin: 0 auto; width: 324px; }
.step__wrap .title-middle { margin-bottom: 20px; }
.step__wr { padding: 38px 28px; color: #000; }
.step__wr .title-middle { margin-bottom: 15px; color: #000; }
.step__text { margin-top: 28px; }
.step__nav { margin: 20px 0 40px; text-align: right; font-size: 12px; *zoom: 1; }
.step__nav:after { content: " "; display: table; clear: both; }
.step__nav li { vertical-align: top; display: inline-block; }
.step__nav li:first-child { float: left; }
.step__nav a { color: #fff600; text-transform: uppercase; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.step__nav a:hover { border-color: #fff600; }
.step__numb { margin: 18px auto; width: 342px; }
.step__inform { margin: 0 -65px 20px; width: 440px; }
.step .price { margin: 18px 0 28px; }
.step .input-field { margin-bottom: 14px; }
.step .sms-code { margin-top: 25px; }

.cards { margin-bottom: 38px; *zoom: 1; }
.cards:after { content: " "; display: table; clear: both; }
.cards__col { float: left; margin-left: 4%; width: 48%; text-align: left; }
.cards__col:first-child { text-align: right; margin-left: 0; }
.cards .title-middle { margin-bottom: 20px; }

.card { text-align: left; background: white; border: 1px solid #fff600; }
.card__in { padding: 32px 39px 32px 32px; }
.card__row { position: relative; margin-top: 18px; font-size: 0; *zoom: 1; }
.card__row:after { content: " "; display: table; clear: both; }
.card__row:first-child { margin-top: 0; }
.card__month, .card__year, .card__cvc { float: left; width: 91px; }
.card__year { margin-left: 18px; }
.card__code { float: left; width: 128px; }
.card__cvc { position: relative; float: right; }
.card__info { position: absolute; top: -12px; right: -7px; }
.card__icon { font-size: 12px; color: #00d9cd; font-family: "ProximaNova Regular", Arial, sans-serif; background-color: transparent; }
.card__icon:hover + .card__block { opacity: 1; visibility: visible; z-index: 2; }
.card__block { position: absolute; left: -80px; top: 100%; margin-top: 7px; padding: 7px 14px; width: 340px; font-size: 10px; visibility: hidden; opacity: 0; z-index: -1; color: #000; -webkit-transition: visibility 0.2s, opacity 0.2s; transition: visibility 0.2s, opacity 0.2s; border: 1px solid #00ceff; background: #fff; }
.card__label { position: absolute; top: 5px; left: 20px; color: #c3c3c3; font-size: 10px; z-index: 1; }
.card__question { margin: -2px 0 0 10px; color: #3276fb; font-size: 10px; line-height: 1; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; vertical-align: top; display: inline-block; }
.card__question:hover { border-color: #3276fb; }
.card__cont { padding: 32px 39px 44px 32px; display: none; }
.card__ul { width: 100%; font-size: 12px; display: table; }
.card__ul li { min-width: 136px; vertical-align: top; -webkit-transition: background 0.2s; transition: background 0.2s; border-left: 1px solid #fff; background: #fff600; display: table-cell; }
.card__ul li:hover, .card__ul li.is-active { background: #fffb86; }
.card__ul li:first-child { border-left: none; }
.card__ul li:first-child a { padding-left: 35px; }
.card__ul li:first-child .icon { left: 9px; }
.card__ul a { position: relative; padding: 7px 45px 10px 30px; height: 53px; color: #353535; display: block; }
.card__ul a .icon { position: absolute; top: 11px; left: 11px; }

.price { font-size: 16px; font-family: "ProximaNova Bold", Arial, sans-serif; }
.price strong { font-size: 20px; }

.rates { padding: 48px 0 51px; text-align: center; }
.rates__but { margin-top: 30px; }
.rates strong { font-family: "ProximaNova Bold", Arial, sans-serif; }
.rates p { line-height: 1.8; }

.answer { padding: 34px 0 50px; color: #fff; background: url(../img/answer-bg.png) no-repeat 50% 50%; background-size: cover; }

.annex { padding: 28px 0; text-align: center; }
.annex__row { margin-top: 20px; font-size: 0; }
.annex .app { margin-left: 16px; }
.annex .app:first-child { margin-left: 0; }

.question { padding: 40px 0 49px; }
.question .title { margin-bottom: 22px; }

.btn { position: relative; font-size: 14px; vertical-align: top; display: inline-block; }
.btn_shad:hover:before { bottom: 0; }
.btn_shad:active:before { top: 0; }
.btn_shad:active span { -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); }
.btn_shad:before { content: ""; position: absolute; top: 2px; left: 5px; right: 5px; bottom: -2px; -webkit-transition: bottom 0.2s; transition: bottom 0.2s; background: rgba(240, 87, 36, 0.5); }
.btn_shad span { position: relative; min-width: 247px; display: block; font-family: "Geometria Bold", Arial, sans-serif; color: #fff; line-height: 1; padding: 18px 60px 17px; -webkit-transition: -webkit-box-shadow 0.1s; transition: box-shadow 0.1s; background: -webkit-linear-gradient(86deg, #ff0042 0%, #ef5c23 100%); background: linear-gradient(4deg, #ff0042 0%, #ef5c23 100%); text-transform: uppercase; letter-spacing: 0.1em; }
.btn_bord { padding: 17px 42px; font-family: "ProximaNova Bold", Arial, sans-serif; color: #000; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border: 1px solid #00e0bf; }
.btn_bord:hover { border-color: #007a68; }
.btn_bord-red { padding: 12px 24px; min-width: 227px; font-size: 12px; color: #fff; font-family: "Geometria Bold", Arial, sans-serif; text-transform: uppercase; background-color: transparent; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border: 2px solid #ff322c; }
.btn_bord-red:hover { border-color: #c50600; }

.input { padding: 0 20px; height: 47px; width: 100%; color: #353535; font-size: 15px; font-family: "ProximaNova Regular", Arial, sans-serif; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border: 1px solid #dedddd; display: block; }
.input:focus { border-color: #fff600; }
.input:focus::-webkit-input-placeholder { font-size: 0; }
.input:focus::-moz-placeholder { font-size: 0; }
.input:focus:-ms-input-placeholder { font-size: 0; }
.input:focus::placeholder { font-size: 0; }
.input.is-error { border-color: #fc1147; background: #fed6d6; }
.input.is-error + .error-xext { display: block; }
.input_yellow { border-color: #eede7c; }

.error-xext { position: absolute; left: 0; bottom: 100%; margin-bottom: 5px; color: #fc034a; font-size: 10px; display: none; }

.input-field { position: relative; }
.input-field .input { padding-right: 50px; }
.input-field .currency { position: absolute; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); right: 20px; }

.currency { font-size: 15px; color: #353535; }

.input-yellow { width: 100%; border: 1px solid #eede7c; color: #353535; font-size: 15px; padding: 14px 20px 13px; font-family: "ProximaNova Regular", Arial, sans-serif; }

.checkbox-yellow { position: relative; display: inline-block; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-yellow input { position: absolute; visibility: hidden; opacity: 0; top: 0; left: 0; }
.checkbox-yellow input:checked + span i { top: 10px; visibility: visible; opacity: 1; }
.checkbox-yellow span { color: #fff600; font-size: 15px; line-height: 1; padding: 7px 0 6px 45px; display: inline-block; }
.checkbox-yellow span:before { content: ""; position: absolute; top: 0; left: 0; border: 1px solid #fff600; -webkit-border-radius: 50%; border-radius: 50%; width: 28px; height: 28px; }
.checkbox-yellow span b { font-family: "ProximaNova Bold", Arial, sans-serif; }
.checkbox-yellow span i { font-size: 11px; color: #fff; position: absolute; top: 5px; left: 7px; visibility: hidden; opacity: 0; will-change: opacity; -webkit-transition: all 0.2s; transition: all 0.2s; }

.line { margin: 0; height: 1px; background-color: #d5dcdf; background-image: -webkit-linear-gradient(86deg, #00beae 0%, #00ca7a 100%); background-image: linear-gradient(4deg, #00beae 0%, #00ca7a 100%); border: none; }

.app { vertical-align: top; will-change: opacity; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; display: inline-block; }
.app:hover { opacity: 0.8; }

.title { margin-bottom: 30px; font-size: 22px; text-align: center; text-transform: uppercase; font-family: "ProximaNova Bold", Arial, sans-serif; }

.title-middle { font-size: 16px; line-height: 1; color: #fff; font-family: "ProximaNova Bold", Arial, sans-serif; text-transform: uppercase; }

.title-small { font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 14px; }

.accord { border-bottom: 1px solid #d2d2d2; }
.accord.is-active .accord__top:before { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.accord__top { position: relative; padding: 12px 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.accord__top:before { position: absolute; content: ""; top: 50%; right: 0; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); background-image: url("../img/icons.png"); width: 6px; height: 10px; background-position: -53px -36px; }
.accord__block { padding-bottom: 14px; display: none; }

.footer { padding: 30px 0 50px; }
.footer__row { *zoom: 1; }
.footer__row:after { content: " "; display: table; clear: both; }
.footer__left { float: left; }
.footer__right { float: right; }
.footer__col { margin-left: 14px; vertical-align: top; display: inline-block; }
.footer__col:first-child { margin-left: 0; }
.footer__center { margin-top: 24px; text-align: center; font-size: 12px; }
.footer .day { line-height: 1; }
.footer strong { font-family: "ProximaNova Bold", Arial, sans-serif; }

.day { color: #fff600; font-size: 40px; font-family: "ProximaNova-Black", Arial, sans-serif; }

.soc { font-size: 0; }
.soc__item { margin-left: 15px; vertical-align: top; display: inline-block; }
.soc__item:first-child { margin-left: 0; }
.soc__ico { height: 24px; width: 24px; line-height: 23px; text-align: center; -webkit-border-radius: 50%; border-radius: 50%; -webkit-transition: background 0.2s; transition: background 0.2s; vertical-align: top; display: inline-block; }
.soc__ico.is-f { background: #335fa2; }
.soc__ico.is-f:hover { background: #1b3254; }
.soc__ico.is-f .icon { margin-left: -1px; }
.soc__ico.is-tw { background: #24a7df; }
.soc__ico.is-tw:hover { background: #146689; }
.soc__ico.is-tw .icon { margin-bottom: -1px; }
.soc__ico.is-in { background: #006b9c; }
.soc__ico.is-in:hover { background: #002536; }
.soc__ico.is-g { background: #de4d3a; }
.soc__ico.is-g:hover { background: #98281a; }
.soc__ico .icon { vertical-align: middle; }
.soc__text { margin-top: 7px; text-align: center; color: #1e2e5d; text-align: center; font-size: 10px; }

.partners { margin-top: 50px; font-size: 0; text-align: center; }
.partners__item { margin-left: 15px; height: 39px; line-height: 39px; vertical-align: top; display: inline-block; }
.partners__item:first-child { margin-left: 0; }
.partners .icon { vertical-align: middle; }
.partners img { vertical-align: middle; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }



/*# sourceMappingURL=screen.css.map */
