extends _layout

block title
	title Title of template

block content
	include ./includes/_header_new.jade
	
	//- compare
	section.compare
		.compare__top-bg
		.compare__in
			//- stock
			.stock
				.stock__top
					.stock__text
						span ПереВЕСТИ ДЕНЬГИ 
						span.is-up Всего за
					.stock__disc
						i.icon
							img(src="img/stock.png", alt="img")
						.stock__plus + 5 грн
					.stock__text
						span.is-up КОМИССИИ
						span онлайн в интернете!
			.compare__text Сравните наш сервис с другими и узнайте, почему наша комиссия лучше:
			.compare__wrap
				.compare__top
					img(src="img/compare-top.png", alt="img")
					a.compare__link(href="#")
						span сравнить
						+fa('arrow-down')
				.compare__block 
					.title-little Например, Вы переводите
					//- simile
					.simile.is-comp
						.arr 
							+fa('arrow-down')
						.circle.is-mob
							.circle__in
								.circle__price 500
								span грн
						.simile__wrap
							.simile__col
								.simile__top
									.title-bord-double
										span другие сервисы
								.simile__serv
									.simile__row
										.simile__circle.is-red
											+fa('times')
										span Комиссия -
										span.simile__price.is-red 1% + 5грн
										.simile__text.is-mob-show
											| Комиссия,
											| тариф
									.simile__row
										.simile__circle.is-red
											+fa('times')
										span Комиссия в гривнах - 
										span.simile__price.is-red 10,00 грн
										.simile__text.is-mob-show
											| Комиссия,
											| грн
									.simile__row
										.simile__circle.is-red
											+fa('times')
										span Сумма к списанию - 
										span.simile__price.is-red 510,00 грн
										.simile__text.is-mob-show
											| Сумма
											| к списанию
								.simile__bot
									button.btn.btn_rad-non.btn_red.btn_great(type="button") Вы заплатили 
										span.is-up 10,00 
										| грн комиссии
							.simile__col
								.simile__top
									img.is-mob-hide(src="img/svg/simile_logo.svg", alt="img")
									.title-bord-double.is-blue.is-mob-show
										span PAY2YOU
								.simile__serv
									.simile__row
										.simile__circle
											+fa('check')
										span Наша Комиссия -
										span.simile__price 0,5% + 5 грн
									.simile__row
										.simile__circle
											+fa('check')
										span Комиссия в гривнах - 
										span.simile__price 7,50 грн
									.simile__row
										.simile__circle
											+fa('check')
										span Сумма к списанию - 
										span.simile__price 507,50 грн
								.simile__bot
									button.btn.btn_rad-non.btn_blue.btn_great(type="button") Вы заплатили 
										span.is-up 7,50 
										| грн комиссии
					.title-dashed Убедитесь в том, сколько Вы можете сэкономить:
					.title-little Например, Вы переводите
					//- simile
					.simile.is-exemple
						.arr 
							+fa('arrow-down')
						.simile__wrap
							.simile__item.js-simile-item#arr
								.simile__point
									.simile__col
										.summ
											.summ__in
												.summ__top 15
												.summ__cur грн
										.simile__field Экономия - 0 грн.
											.res
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										button.simile__arr.js-sim-arr-left(type="button")
											+fa('chevron-left')
									.circle
										.circle__in
											.circle__price 500
											span грн
									.simile__col
										.simile__field Экономия - 5 грн.
											.res.is-blue
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										.summ
											.summ__in
												.summ__top 10
												.summ__cur грн
										button.simile__arr.js-sim-arr-right(type="button")
											+fa('chevron-right')
							.simile__item.js-simile-item
								.arr 
									+fa('arrow-down')
								.simile__point
									.simile__col
										.summ
											.summ__in
												.summ__top 105
												.summ__cur грн
										.simile__field Экономия - 0 грн.
											.res
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										button.simile__arr.js-sim-arr-left(type="button")
											+fa('chevron-left')
									.circle
										.circle__in
											.circle__price 10 000
											span грн
									.simile__col
										.simile__field Экономия - 50 грн.
											.res.is-blue
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										.summ
											.summ__in
												.summ__top 55
												.summ__cur грн
										button.simile__arr.js-sim-arr-right(type="button")
											+fa('chevron-right')
							.simile__item.js-simile-item
								.arr 
									+fa('arrow-down')
								.simile__point
									.simile__col
										.summ
											.summ__in
												.summ__top 155
												.summ__cur грн
										.simile__field  Экономия - 0 грн.
											.res
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										button.simile__arr.js-sim-arr-left(type="button")
											+fa('chevron-left')
									.circle
										.circle__in
											.circle__price 500
											span грн
									.simile__col
										.simile__field Экономия - 75 грн.
											.res.is-blue
												.res__top Комиссия - 15 грн 
												.res__bot Экономия - 0 грн
										.summ
											.summ__in
												.summ__top 80
												.summ__cur грн
										button.simile__arr.js-sim-arr-right(type="button")
											+fa('chevron-right')
			//- saving
			.saving
				.saving__top
					.saving__title
						span.saving__left мы сэкономили
						.rhomb 
							.rhomb__in
								.rhomb__top 7800
								.rhomb__price грн
						span.saving__right нашим клиентам
		
		//- join
		.join
			.join__in
				.join__row 
					p 720 000 человек уже перевели свои деньги.
					p Присоединяйтесь:)
				.join__row 
					a.btn.btn_blue.btn_big(href="#") ВЫПОЛНИТЬ ПЕРЕВОД

	include ./includes/_reply.jade

block footer
	include ./includes/_footer.jade