extends _simple-layout

block title
	title Title of template

block content
	section.top
		include ./includes/_header-simple.jade
		.step
			.step__in
				form
					.cards
						.cards__col
							h4.title-middle Карта отправителя
							.card
								.card__shad
								.card__in
									.card__row
										input.input(type="text" placeholder="Номер карты")
									.card__row
										.card__month
											input.input(type="text" placeholder="Месяц")
										.card__year
											input.input(type="text" placeholder="Год")
										.card__cvc
											input.input(type="text" placeholder="CVC")
											.card__info
												button.card__icon ?
												.card__block 
													|CVV-код – это трехзначный код для проверки подлинности Вашей карты при оплате через интернет и других видах операций. 
													br
													|Код CVV можно найти на обратной стороне карты – это последние 3 цифры из семизначного числа рядом с местом для подписи, которые, как правило, визуально отделены от всего числа.
									.card__row
										.card__label ваш номер телефона
										input.input(type="text" placeholder="+38")
						.cards__col
							h4.title-middle Данные получателя
							.card.js-tab-group
								.card__shad
								.card__cont.js-tab-cont.js-tab1
									.card__row
										input.input(type="text" placeholder="Номер карты")
									.card__row
										.card__code
											input.input(type="text" placeholder="Промо-код")
										a.card__question(href="#") как получить?
								.card__cont.js-tab-cont.js-tab2
									.card__row
										input.input(type="text" placeholder="Номер телефона")
									.card__row
										.card__code
											input.input(type="text" placeholder="Промо-код")
										a.card__question(href="#") как получить?
								.card__cont.js-tab-cont.js-tab3
									.card__row
										input.input(type="text" placeholder="Email-адрес")
									.card__row
										.card__code
											input.input(type="text" placeholder="Промо-код")
										a.card__question(href="#") как получить?
								ul.card__ul.js-tab
									li
										a(href="js-tab1")
											.icon.icon-card
											span на карту
									li
										a(href="js-tab2")
											.icon.icon-numb
											span по номеру телефона
									li
										a(href="js-tab3")
											.icon.icon-email
											span по email
					.step__wrap
						h4.title-middle Сумма перевода
						.input-field
							input.input(value="15000" placeholder="введите сумму")
							.currency грн.
						p комиссия 80 грн. 
						.price сумма к оплате 
							strong 15080 
							|грн.
						button.btn.btn_shad(type="submit") 
							span перевести
					.step__text Нажимая кнопку "Перевести", вы соглашаетесь с офертой
	//- hr.line 
	section.rates
		.rates__in
			h3.title ТАРИФЫ И ЛИМИТЫ
			p Максимальная сумма платежа - 
				strong 15 000 грн, 
				|в сутки - 
				strong 75 000 грн.
			p Принимаются все карты Украинских банков с поддержкой 3-D Secure
			p Срок зачисления - от нескольких секунд до 3х дней
			.rates__but
				a(href="#").btn.btn_bord 
					span узнать о других лимитах
	section.answer
		.answer__in
			h3.title КАК ЭТО РАБОТАЕТ?
			p При переводе средств по номеру карты получателя, деньги будут зачислены на карту в режиме онлайн без дополнительных действий получателя.
			p При переводе средств с указанием номера мобильного телефона получателя, на указанный номер поступит СМС-сообщение с кодом перевода и ссылкой на сайт услуги. Перейдя по ссылке, получатель сможет выбрать карту, на которую будут зачислены средства, после чего они станут для него доступны. Код перевода действителен в течение 7 календарных дней.
			p Также сервис позволяет получить деньги на Вашу карту, если получатель перевода - Вы.
	section.annex
		.annex__in
			h3.title-small
			.annex__row
				a(href="#").app
					img(src="img/app-store2.png" alt="img")
				a(href="#").app
					img(src="img/google-play2.png" alt="img")
	hr.line
	section.question
		.question__in
			h3.title ВОПРОСЫ И ОТВЕТЫ
			.accord.js-accord.is-active
				.accord__top.js-accord-but Перевод денег с карты на карту внутри банка
				.accord__block.js-accord-block
					p За перевод с карты на карту Тинькофф Банка комиссия не взимается.
					p Деньги моментально поступают на счет получателя.
			.accord.js-accord
				.accord__top.js-accord-but Перевод денег с карты на карту другого банка
				.accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
			.accord.js-accord
				.accord__top.js-accord-but Куда можно переводить деньги?
				.accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
			.accord.js-accord
				.accord__top.js-accord-but Лимит перевода и от чего он зависит, возможные комиссии
				.accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
			.accord.js-accord
				.accord__top.js-accord-but Особенности перевода денег через интернет
				.accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
	hr.line
block footer
	include ./includes/_footer-simple.jade